{% extends 'HSYSMainBundle:Admin:adminbase.html.twig' %}

{% block title %}ADMIN{% endblock %}

{% block contenido %}

<h3>Tabla Tipo de Bolsa:</h3>
<form id="nuevo_tipobolsa" name="nuevo_tipobolsa" action="{{ path('admin_tipobolsa') }}" method="post">
    <label style="color: #B90302">Insertar nuevo Tipo de Bolsa</label>
    <table>
        <tr>
            <td><label>Nombre: </label></td><td>{{ form_widget(form.nombre, {'attr': {'autofocus': 'autofocus'}}) }}</td><td>{{ form_errors(form.nombre) }}</td>
        </tr>
        <tr>
            <td><label>Detalle: </label></td><td>{{ form_widget(form.detalle) }}</td><td>{{ form_errors(form.detalle) }}</td>
        </tr>
        <tr>
            <td><input type="submit" value="Agregar"/></td><td colspan="2">{{ form_rest(form) }}</td>
        </tr>
    </table>
</form>
<br/>
<h4>Contenido de la tabla:</h4>
<table class="consulta" style="width: 100%">
    <tr>
        <th>ID</th><th>Nombre Tipo de Bolsa</th><th>Detalle</th>
    </tr>
    {% for tipobolsa in tipobolsas %}
    <tr>
        <td>{{ tipobolsa.id }}</td><td>{{ tipobolsa.nombre }}</td><td>{{ tipobolsa.detalle }}</td>
    </tr>
    {% else %}
    <div class="consulta"><img src="{{ asset('images/error.png') }}"/>    NO SE HAN ENCONTRADO DATOS</div>
    <br/>
    {% endfor %}
</table>

{% endblock %}