{% extends 'HSYSMainBundle:Donante:donantebase.html.twig' %}

{% block title %}Buscar Donante{% endblock %}

{% block contenido %}

<form id="buscar_form" name="buscar_form" method="post" action="{{ path('buscar_donante') }}">
    <table>
        <tr>
            <td><label>Búsqueda: </label></td>
            <td><input id="buscar" name="buscar" type="text" style="width: 120px"/></td>
            <td><label for="criterio">Criterio: </label></td>
            <td><select name="criterio" id="criterio" style="width: 120px">
                    <option value="dni">DNI</option>
                    <option value="id">Numero Donante</option>
                    <option value="nomapp">Apellido y Nombre</option>
                </select></td>
            <td><input type="submit" value="Buscar"/></td>
        </tr>
    </table>
</form>
<br/>

<table class="consulta" style="width: 100%">
    <tr>
        <th> ID </th><th> Apellido y Nombre </th><th> DNI </th><th> Ver </th><th> Modificar </th>
    </tr>
{% for donante in donantes %}
    <tr>
        <td><a>{{ donante.id }}</a></td>
        <td><a>{{ donante.nomapp }}</a></td>
        <td><a>{{ donante.dni }}</a></td>
        <td class="link"><a href="{{ path('ver_donante', {'id':donante.id})  }}">Ver</a></td>
        <td class="link"><a href="{{ path('modificar_donante', {'id':donante.id})  }}">Modificar</a></td>
    </tr>
{% else %}
    <div class="consulta"><img src="{{ asset('images/error.png') }}"/>    NO SE HAN ENCONTRADO DATOS</div>
    <br/>
{% endfor %}
</table>
{% endblock %}