{% extends 'HSYSMainBundle:Donante:donantebase.html.twig' %}

{% block title %}Excluir Donante{% endblock %}

{% block contenido %}


<form id="formulario" name="formulario" action="{{ path('excluir_donante', { 'id' : id }) }}" method="post">
    <div>  
        Donante a Excluir <br/>
        <table>
            <tr>
                <td><label>ID </label></td>
                <td>{{ donante.id }}</td>
            </tr>
            <tr>
                <td><label>DNI </label></td>
                <td>{{ donante.dni }}</td>
            </tr>
            <tr>
                <td><label>Apellido y nombre </label></td>
                <td>{{ donante.nomapp }}</td>
            </tr>


            <tr><td><br/></td></tr>
            <tr>
                <td><label> Seleccione un tipo de exclusion: <label> </td>
                            <td> <select id="tipodeexclusion" name="tipodeexclusion">
                                    {% for tipoexclusion in tiposExclusion %}
                                 <option id="{{ tipoexclusion.duracion }}" value="{{ tipoexclusion.id }}">{{ tipoexclusion }}</option>
                                    {% endfor %}
                                </select> 
                            </td> 
            </tr>
            <tr>
                <td><label id="dias"></label></td>
                <td> <label id="tiempo"></label> </td>  
           </tr> 
           <tr>
               <td><label id="total"></label></td>
               <td><label id="fecha"></label></td>
           </tr>
           <tr><td><label>Comentario: </label></td>
               <td><textarea id="comentario" form="formulario"></textarea></td>
           </tr>
     </table>
  </div>

 <input type="submit" />
</form>

<script src="http://code.jquery.com/jquery-latest.js"></script>
<script>
$("<option value='X' selected='selected'></option>").insertBefore($("select option")[0]);
$("select").change(function(){ $("select option[value='X']").remove(); });

$("#tipodeexclusion").change(function(){
var srt = $("#tipodeexclusion option:selected").attr("id");
var cantidad = srt;
$("#dias").text("La cantidad de dias son: ");
$("#total").text("Dura hasta");
if ("0" == srt) {
        $("#tiempo").text("Exclusion permanente.");
        $("#fecha").text("Indeterminado.");
    } else {
        $("#tiempo").text(srt);
        var fe = new Date();
        var fechactual = fe.valueOf();
        var fechsalida = new Date(fechactual +( cantidad * 86400000 ) );
        $("#fecha").text(fechsalida.getDate() + "/" + (fechsalida.getMonth() +1) + "/" + fechsalida.getFullYear());
        };
});
</script>


{% endblock %}


