{% extends 'HSYSMainBundle:Donante:donantebase.html.twig' %}

{% block title %}Habilitar Donante {{ donante.id }}{% endblock %}

{% block contenido %}

<form id="datosdonante" name="datosdonante">
<table>
            <tr>
                <td><label>Datos del donante</label></td>
            </tr>
            <tr>
                <td><label>ID </label></td>
                <td>{{ donante.id }}</td>
            </tr>
            <tr>
                <td><label>DNI </label></td>
                <td>{{ donante.dni }}</td>
            </tr>
            <tr>
                <td><label>Apellido y nombre </label></td>
                <td>{{ donante.nomapp }}</td>
            </tr>
</table>
</form>

</br>

<form id="habilitar_form" name="habilitar_form" method="post" action="{{ path('habilitar_donante', { 'id' : id }) }}">
    <table class="listadeexclusiones" style="width: 100%">
    <tr>
        <th> ID </th><th> Inicio </th><th> Fin </th><th> Tipo de Exclusion </th><th width =20%> Comentario </th>
    </tr>
{% for exclusion in exclusiones %}
    <tr>
        <td valign="middle" align="center"><a>{{ exclusion.id }}</a></td>
        <td valign="middle" align="center"><a>{{ exclusion.fechini | date("d/m/Y") }}</a></td>
        <td valign="middle" align="center"><a>{% if exclusion.fechfin != null%}
                                                    {{ exclusion.fechfin | date("d/m/Y") }}
                                                {%else%}
                                                    Permanente
                                                {%endif%}</a></td>
        <td valign="middle" align="center"><a>{{ exclusion.tipoexclusion }}</a></td>
        <td valign="middle" align="center"><a>{{ exclusion.comentario }}</a></td>
    </tr>
    {% else %}
    <div class="listadeexclusiones"><img src="{{ asset('images/error.png') }}"/>    EL DONANTE NO POSEE NINGUNA EXCLUSION</div>
    <br/>
{% endfor %}
    
    
</table>
        {% if habilitado %}
        <label>El donante se encuentra habilitado</label>
        {% else %}
 <input type="checkbox" name="aprobado" id="aprobado" onclick="habilitar()"> ¿Esta seguro que desea habilitar el donante?<br>
 <input type="submit" value="Habilitar El Donante"/>
        {% endif %}
        
</form>


<script src="http://code.jquery.com/jquery-latest.js"></script>
<script>
$('input[type="submit"]').attr('disabled','disabled');  
function habilitar(){
if (aprobado.checked) {    
    $('input[type="submit"]').removeAttr('disabled');
} else {
    $('input[type="submit"]').attr('disabled','disabled');
    }
    };
</script>
</script>

{% endblock %}

