{% extends 'HSYSMainBundle:Donante:donantebase.html.twig' %}

{% block title %}Habilitar Donante {{ donante.id }}{% endblock %}

{% block contenido %}
<h3>Habilitar Donante</h3>
<form id="datosdonante" name="datosdonante">
<table class="detalle">
            <tr>
                <th colspan="2"><label>Datos del donante</label></th>
            </tr>
            <tr>
                <th><label>ID </label></th>
                <td>{{ donante.id }}</td>
            </tr>
            <tr>
                <th><label>DNI </label></th>
                <td>{{ donante.dni }}</td>
            </tr>
            <tr>
                <th><label>Apellido y nombre </label></th>
                <td>{{ donante.nomapp }}</td>
            </tr>
</table>
</form>

</br>
<h3>Exclusiones Activas del Donante</h3>
<form id="habilitar_form" name="habilitar_form" method="post" action="{{ path('habilitar_donante', { 'id' : id }) }}">
    <table class="detalle" style="width: 100%">
    <tr>
        <th> ID </th><th> Inicio </th><th> Fin </th><th> Tipo de Exclusión </th><th width =20%> Comentario </th>
    </tr>
{% for exclusion in exclusiones %}
    <tr>
        <td valign="middle" align="center">{{ exclusion.id }}</td>
        <td valign="middle" align="center">{{ exclusion.fechini | date("d/m/Y") }}</td>
        <td valign="middle" align="center">{% if exclusion.fechfin != null%}
                                                    {{ exclusion.fechfin | date("d/m/Y") }}
                                                {%else%}
                                                    Permanente
                                                {%endif%}</td>
        <td valign="middle" align="center">{{ exclusion.tipoexclusion }}</td>
        <td valign="middle" align="center">{{ exclusion.comentario }}</td>
    </tr>
    {% else %}
    <div class="listadeexclusiones"><img src="{{ asset('images/error.png') }}"/>    EL DONANTE NO POSEE NINGUNA EXCLUSIÓN</div>
    <br/>
{% endfor %}
</table>
        </br>
        {% if habilitado %}
        <label>El donante se encuentra habilitado</label>
        {% else %}
        
        <label>Comentario:</label>
        </br>
        <textarea id="comentarios" name="comentarios" rows="5" style="width: 50%"> </textarea>
        </br>
        <input type="checkbox" name="aprobado" id="aprobado" onclick="habilitar()"> ¿Está seguro que desea habilitar el donante?<br>
        <input type="submit" value="Habilitar El Donante"/>
        
        {% endif %}
        
</form>


<script src="{{ asset('js/jquery-1.9.1.js') }}"></script>
<script>
$('input[type="submit"]').attr('disabled','disabled');  
function habilitar(){
if (aprobado.checked) {    
    $('input[type="submit"]').removeAttr('disabled');
} else {
    $('input[type="submit"]').attr('disabled','disabled');
    }
    };
</script>
</script>

{% endblock %}

