{% extends 'HSYSMainBundle:Donante:donantebase.html.twig' %}

{% block title %}Modificar Donante {{ id }}{% endblock %}

{% block contenido %}
<form action="{{ path('modificar_donante', {'id': id}) }}" method="post">
        {# {{ form_widget(form) }} #}
        <table>
            <tr>
                <td><label>Apellido y Nombre: </label></td>
                <td>{{ form_widget(form.nomapp) }}</td>
                <td>{{ form_errors(form.nomapp) }}</td>
            </tr>
            <tr>
                <td><label>DNI: </label></td>
                <td>{{ form_widget(form.dni) }}</td>
                <td>{{ form_errors(form.dni) }}</td>
            </tr>
            {# <tr>
                <td><label>Factor Sanguíneo: </label></td>
                <td>{{ form_widget(form.factorsang) }}</td>
                <td>{{ form_errors(form.factorsang) }}</td>
            </tr> #}
            <tr>
                <td><label>Fecha de Nacimiento: </label></td>
                <td>{{ form_widget(form.fechnaci) }}</td>
                <td>{{ form_errors(form.fechnaci) }}</td>
            </tr>
            <tr>
                <td><label>Sexo: </label></td>
                <td>{{ form_widget(form.sexo) }}</td>
                <td>{{ form_errors(form.sexo) }}</td>
            </tr>
            <tr>
                <td><label>Donante Voluntario: </label></td>
                <td>{{ form_widget(form.donantevoluntario) }}</td>
                <td>{{ form_errors(form.donantevoluntario) }}</td>
            </tr>
            <tr>
                <td><label>Ocupación: </label></td>
                <td>{{ form_widget(form.ocupacion) }}</td>
                <td>{{ form_errors(form.ocupacion) }}</td>
            </tr>
            <tr>
                <td><label>Estado Civil: </label></td>
                <td>{{ form_widget(form.estadocivil) }}</td>
                <td>{{ form_errors(form.estadocivil) }}</td>
            </tr>
            <tr>
                <td><label>Teléfono Particular: </label></td>
                <td>{{ form_widget(form.telefono) }}</td>
                <td>{{ form_errors(form.telefono) }}</td>
            </tr>
             <tr>
                <td><label>Teléfono Celular: </label></td>
                <td>{{ form_widget(form.celular) }}</td>
                <td>{{ form_errors(form.celular) }}</td>
            </tr>
            <tr>
                <td><label>E-Mail: </label></td>
                <td>{{ form_widget(form.email) }}</td>
                <td>{{ form_errors(form.email) }}</td>
            </tr>
            <tr>
                <td><label>País de Nacimiento: </label></td>
                <td>{{ form_widget(form.paisnac) }}</td>
                <td>{{ form_errors(form.paisnac) }}</td>
            </tr>
            <tr>
                <td><label>Provincia de Nacimiento: </label></td>
                <td>{{ form_widget(form.provnac) }}</td>
                <td>{{ form_errors(form.provnac) }}</td>
            </tr>
            <tr>
                <td><label>Domicilio Actual:</label></td>
            </tr>
            <tr>
                <td><label>País: </label></td>
                <td>{{ form_widget(form.pais) }}</td>
                <td>{{ form_errors(form.pais) }}</td>
            </tr>
            <tr>
                <td><label>Provincia: </label></td>
                <td>{{ form_widget(form.provincia) }}</td>
                <td>{{ form_errors(form.provincia) }}</td>
            </tr>
            <tr>
                <td><label>Ciudad: </label></td>
                <td>{{ form_widget(form.ciudad) }}</td>
                <td>{{ form_errors(form.ciudad) }}</td>
            </tr>
            <tr>
                <td><label>Código Postal: </label></td>
                <td>{{ form_widget(form.codpostal) }}</td>
                <td>{{ form_errors(form.codpostal) }}</td>
            </tr>
            <tr>
                <td><label>Calle y Número: </label></td>
                <td>{{ form_widget(form.domicilio) }}</td>
                <td>{{ form_errors(form.domicilio) }}</td>
            </tr>
        </table>
        
        {{ form_rest(form) }}
        <input type="submit" />
    </form>
{% endblock %}