{% extends '::basico.html.twig' %}

{% block title %}Nuevo Donante{% endblock %}

{% block contenido %}
<form action="{{ path('alta_donante') }}" method="post">
        {# {{ form_widget(form) }} #}
        <table>
            <tr>
                <td><label>Apellido y Nombre: </label></td>
                <td>{{ form_widget(form.nomapp) }}</td>
            </tr>
            <tr>
                <td><label>DNI: </label></td>
                <td>{{ form_widget(form.dni) }}</td>
            </tr>
            <tr>
                <td><label>Factor Sanguineo: </label></td>
                <td>{{ form_widget(form.factorsang) }}</td>
            </tr>
            <tr>
                <td><label>Fecha de Nacimiento: </label></td>
                <td>{{ form_widget(form.fechnaci) }}</td>
            </tr>
            <tr>
                <td><label>Sexo: </label></td>
                <td>{{ form_widget(form.sexo) }}</td>
            </tr>
            <tr>
                <td><label>Ocupacion: </label></td>
                <td>{{ form_widget(form.ocupacion) }}</td>
            </tr>
            <tr>
                <td><label>Estado Civil: </label></td>
                <td>{{ form_widget(form.estadocivil) }}</td>
            </tr>
            <tr>
                <td><label>Telefono: </label></td>
                <td>{{ form_widget(form.telefono) }}</td>
            </tr>
            <tr>
                <td><label>Pais de Nacimiento: </label></td>
                <td>{{ form_widget(form.paisnac) }}</td>
            </tr>
            <tr>
                <td><label>Provincia de Nacimiento: </label></td>
                <td>{{ form_widget(form.provnac) }}</td>
            </tr>
            <tr>
                <td><label>Domicilio Actual:</label></td>
            </tr>
            <tr>
                <td><label>Pais: </label></td>
                <td>{{ form_widget(form.pais) }}</td>
            </tr>
            <tr>
                <td><label>Provincia: </label></td>
                <td>{{ form_widget(form.provincia) }}</td>
            </tr>
            <tr>
                <td><label>Ciudad: </label></td>
                <td>{{ form_widget(form.ciudad) }}</td>
            </tr>
            <tr>
                <td><label>Calle y Numero: </label></td>
                <td>{{ form_widget(form.domicilio) }}</td>
            </tr>
        </table>
        
        {{ form_rest(form) }}
        <input type="submit" />
    </form>
{{ form_errors(form) }}
{% endblock %}