{% extends 'HSYSMainBundle:Donante:donantebase.html.twig' %}

{% block title %}Nuevo Donante{% endblock %}

{% block contenido %}

<h3>Nuevo Donante:</h3>

<form id="nuevo_form" action="{{ path('alta_donante') }}" method="post">
        {# {{ form_widget(form) }} #}
        <table>
            <tr>
                <td><label>Apellido y Nombre: </label></td>
                <td>{{ form_widget(form.nomapp, {'attr': {'autofocus': 'autofocus'}}) }}</td>
                <td>{{ form_errors(form.nomapp) }}</td>
            </tr>
            <tr>
                <td><label>Tipo Documento: </label></td>
                <td><select id="tipo" name="tipo" onchange="cargarDNI()" style="width: 83%">
                        <option value="D">DNI</option>
                        <option value="P">Pasaporte</option>
                        <option value="C">LC</option>
                        <option value="E">LE</option>
                    </select></td>
            </tr>
            <tr>
                <td><label>Número Documento: </label></td>
                <td><input id="numero" name="numero" onchange="cargarDNI()" style="width: 77%"/></td>
                <td>{{ form_errors(form.dni) }}</td>
            </tr>
            <tr id="Donante_tr_dni">
                <td><label>DNI: </label></td>
                <td>{{ form_widget(form.dni) }}</td>
            </tr> 
            {# <tr>
                <td><label>AB0/RhD: </label></td>
                <td>{{ form_widget(form.factorsang) }}</td>
                <td>{{ form_errors(form.factorsang) }}</td>
            </tr> #}
            <tr>
                <td><label>Fecha de Nacimiento: </label></td>
                <td>{{ form_widget(form.fechnaci) }}</td>
                <td>{{ form_errors(form.fechnaci) }}</td>
            </tr>
            <tr>
                <td><label>Sexo: </label></td>
                <td>{{ form_widget(form.sexo) }}</td>
                <td>{{ form_errors(form.sexo) }}</td>
            </tr>
            <tr>
                <td><label>Donante Voluntario: </label></td>
                <td>{{ form_widget(form.donantevoluntario) }}</td>
                <td>{{ form_errors(form.donantevoluntario) }}</td>
            </tr>
            <tr>
                <td><label>Sabe Leer y Escribir: </label></td>
                <td>{{ form_widget(form.leerescribir) }}</td>
                <td>{{ form_errors(form.leerescribir) }}</td>
            </tr>
            <tr>
                <td><label>Nivel Educativo: </label></td>
                <td>{{ form_widget(form.niveleducativo, {'attr':{'style': 'width: 173px'}}) }}</td>
                <td>{{ form_errors(form.niveleducativo) }}</td>
            </tr>
            <tr>
                <td><label>Ocupación: </label></td>
                <td>{{ form_widget(form.ocupacion) }}</td>
                <td>{{ form_errors(form.ocupacion) }}</td>
            </tr>
            <tr>
                <td><label>Estado Civil: </label></td>
                <td>{{ form_widget(form.estadocivil, {'attr':{'style': 'width: 173px'}}) }}</td>
                <td>{{ form_errors(form.estadocivil) }}</td>
            </tr>
            <tr>
                <td><label>Teléfono Particular: </label></td>
                <td>{{ form_widget(form.telefono) }}</td>
                <td>{{ form_errors(form.telefono) }}</td>
            </tr>
            <tr>
                <td><label>Teléfono Celular: </label></td>
                <td>{{ form_widget(form.celular) }}</td>
                <td>{{ form_errors(form.celular) }}</td>
            </tr>
            <tr>
                <td><label>E-Mail: </label></td>
                <td>{{ form_widget(form.email) }}</td>
                <td>{{ form_errors(form.email) }}</td>
            </tr>
            <tr>
                <td><label>País de Nacimiento: </label></td>
                <td><select name='paisNaci' id='paisNaci' onChange='cambiarPaisNaci()' style="width:173px">
                        <option value="X1" name="X1"></option>
                        {% for pais in paises %} 
                            <option value='{{pais.id}}' name='{{pais}}'> {{pais}} </option>
                        {% endfor %}
                    </select>
                    {{ form_widget(form.paisnac) }}</td>
                <td>{{ form_errors(form.paisnac) }}</td>
            </tr>
            <tr>
                <td><label>Provincia de Nacimiento: </label></td>
                <td> <select id="provNaci" onChange="cambiarProvNaci()" style="width:173px"></select>  <img id="provnacicarga" src="{{ asset('images/ajax-loader.gif') }}"/>
                    {{ form_widget(form.provnac) }}</td>
                <td>{{ form_errors(form.provnac) }}</td>
            </tr>
            <tr>
                <td><label>Domicilio Actual:</label></td>
            </tr>
            <tr>
                <td><label>País: </label></td>
                <td><select name='paisActual' id='paisActual' onChange='cambiarPaisActual()' style="width:173px">
                        <option value="X2" name="X2"></option>
                        {% for pais in paises %} 
                            <option value='{{pais.id}}' name='{{pais}}'> {{pais}} </option>
                        {% endfor %}
                    </select>
                    {{ form_widget(form.pais) }}</td>
                <td>{{ form_errors(form.pais) }}</td>
            </tr>
            <tr>
                <td><label>Provincia: </label></td>
                <td><select id="provActual" onChange="cambiarProvActual()" style="width:173px"></select> <img id="provactualcarga" src="{{ asset('images/ajax-loader.gif') }}"/>
                    {{ form_widget(form.provincia) }}</td>
                <td>{{ form_errors(form.provincia) }}</td>
            </tr>
            <tr>
                <td><label>Ciudad: </label></td>
                <td><select id="ciudadActual" onChange="cambiarCiudadActual()" style="width:173px"></select>  <img id="ciudadactualcarga" src="{{ asset('images/ajax-loader.gif') }}"/>
                    {{ form_widget(form.ciudad) }}</td>
                <td>{{ form_errors(form.ciudad) }}</td>
            </tr>
            <tr>
                <td><label>Código Postal: </label></td>
                <td>{{ form_widget(form.codpostal) }}</td>
                <td>{{ form_errors(form.codpostal) }}</td>
            </tr>
            <tr>
                <td><label>Calle y Número: </label></td>
                <td>{{ form_widget(form.domicilio) }}</td>
                <td>{{ form_errors(form.domicilio) }}</td>
            </tr>
        </table>

        {{ form_rest(form) }}
        <input type="submit" />
    </form>
{{ form_errors(form) }}


<script src="{{ asset('js/jquery-1.9.1.js') }}"></script>
    
   <script>   
    
    window.onload = function() {
    $("#Donante_tr_dni").hide(); 
    $("#Donante_form_paisnac").hide(); 
    $("#Donante_form_provnac").hide(); 
    $("#Donante_form_pais").hide();
    $("#Donante_form_provincia").hide();
    $("#Donante_form_ciudad").hide();
    $("#provactualcarga").hide();
    $("#ciudadactualcarga").hide();
    $("#provnacicarga").hide();
    };
    
    function cargarDNI(){
        $("#Donante_form_dni").val($("#tipo option:selected").attr("value")+$("#numero").val());
    };
    
    function cambiarPaisNaci(){
        $("select option[value='X1']").remove();
        $("#Donante_form_paisnac").val($("#paisNaci option:selected").attr('name'));
        $("#provnacicarga").show();
        $("#provNaci").load("{{path ('buscarprov_donante',{'id':''})}}".concat('/',$("#paisNaci option:selected").val()));
        $("#Donante_form_provnac").val('');
    };
    
    function cambiarProvNaci(){
        $("select option[value='X']").remove();
        $("#Donante_form_provnac").val($("#provNaci option:selected").attr('name'));
    }

    function cambiarPaisActual(){
        $("select option[value='X2']").remove();
        $("#Donante_form_pais").val($("#paisActual option:selected").attr('name'));
        $("#provactualcarga").show();
        $("#provActual").load("{{path ('buscarprov_donante',{'id':''})}}".concat('/',$("#paisActual option:selected").val()));
        $("#Donante_form_provincia").val('');
        $("#Donante_form_ciudad").val('');
        $("#ciudadActual").html(' ');
    }
    
    function cambiarProvActual(){
        $("select option[value='X']").remove();
        $("#Donante_form_provincia").val($("#provActual option:selected").attr('name'));
        $("#ciudadactualcarga").show();
        $("#ciudadActual").load("{{path ('buscarlocal_donante',{'id':''})}}".concat('/',$("#provActual option:selected").val()));
        $("#Donante_form_ciudad").val('');
    }
    
    function cambiarCiudadActual(){
        $("select option[value='X']").remove();
        $("#Donante_form_ciudad").val($("#ciudadActual option:selected").attr('name')); 
    }
    
</script> 
{% endblock %}