{% extends 'HSYSMainBundle:Donante:donantebase.html.twig' %}

{% block title %}Ver Donante {{ donante.id }}{% endblock %}

{% block contenido %}

<div class="detalle">
    <ul>
        <li><a href="{{ path('modificar_donante',{'id':donante.id}) }}">Modificar</a></li>
        <li><a href= "{{ path('excluir_donante',{'id':donante.id}) }}">Excluir</a></li>
        <li><a href="TWIIIG HABILITAR">Habilitar</a></li>
        <li><a href="TWIIIG DONAR">Donar</a></li>
        <li><a href="TWIIIG ELIMINAR">Eliminar</a></li>
    </ul>
</div>
<br/>
<table class="detalle">
    <tr>
        <th>ID: </th>
        <td>{{ donante.id }}</td>
    </tr>
    <tr>
        <th>Apellido y Nombre:  </th>
        <td>{{ donante.nomapp }}</td>
    </tr>
    <tr>
        <th>DNI: </th>
        <td>{{ donante.dni }}</td>
    </tr>
    <tr>
        <th>Factor Sangíneo: </th>
        <td>{{ donante.factorsang }}</td>
    </tr>
    <tr>
        <th>Fecha de Nacimiento: </th>
        <td>{{ donante.fechnaci|date('d/m/Y') }}</td>
    </tr>
    <tr>
        <th>Sexo: </th>
        <td>{{ donante.sexo }}</td>
    </tr>
    <tr>
        <th>Ocupación: </th>
        <td>{{ donante.ocupacion }}</td>
    </tr>
    <tr>
        <th>Estado Civil: </th>
        <td>{{ donante.estadocivil }}</td>
    </tr>
    <tr>
        <th>Teléfono: </th>
        <td>{{ donante.telefono }}</td>
    </tr>
    <tr>
        <th>País de Nacimiento: </th>
        <td>{{ donante.paisnac }}</td>
    </tr>
    <tr>
        <th>Provincia de Nacimiento: </th>
        <td>{{ donante.provnac }}</td>
    </tr>
    <tr>
        <th colspan="2">Domicilio Actual: </th>
    </tr>
    <tr>
        <th>País: </th>
        <td>{{ donante.pais }}</td>
    </tr>
    <tr>
        <th>Provincia: </th>
        <td>{{ donante.provincia }}</td>
    </tr>
    <tr>
        <th>Ciudad: </th>
        <td>{{ donante.ciudad }}</td>
    </tr>
    <tr>
        <th>Calle y Número: </th>
        <td>{{ donante.domicilio }}</td>
    </tr>
</table>
<br/>

{% endblock %}