{% extends 'HSYSMainBundle:Donante:donantebase.html.twig' %}

{% block title %}Ver Donante {{ donante.id }}{% endblock %}

{% block contenido %}

<div class="detalle">
    <ul>
        <li><a href="{{ path('modificar_donante',{'id':donante.id}) }}">Modificar</a></li>
        <li><a href="{{ path('excluir_donante',{'id':donante.id}) }}">Excluir</a></li>
        <li><a href="{{ path('habilitar_donante',{'id':donante.id}) }}">Habilitar</a></li>
        <li><a href="{{ path('eliminar_donante',{'id':donante.id}) }}">Eliminar</a></li>
        <li><a href="{{ path('ver_donacion_donante',{'id':donante.id}) }}">Ver donaciones</a></li>
    </ul>
</div>
<div class="detalle">
    <ul>
        <li><a href="{{ path('alta_extraccion_voluntaria_form',{'don':donante.id}) }}">Donar (Voluntaria)</a></li>
        <li><a href="{{ path('alta_donacion_receptor_receptor',{'don':donante.id}) }}">Donar (c/Receptor)</a></li>
        <li><a href="{{ path('alta_extraccion_receptor_form', {'don':donante.id, 'rec':donante.id}) }}">Autodonación</a></li>
        <li><a href="{{ path('imprimir_donante',{'id':donante.id}) }}">Imprimir</a></li>
    </ul>
</div>
<br/>
{% if donante.baja %}
<div class="consulta"> <img src="{{ asset('images/error.png') }}"/>    El donante se encuentra eliminado</div>
</br>
{% endif %}
<table class="detalle">
    <tr>
        <th>ID: </th>
        <td>{{ donante.id }}</td>
    </tr>
    <tr>
        <th>Apellido y Nombre:  </th>
        <td>{{ donante.nomapp }}</td>
    </tr>
    <tr>
        <th>DNI: </th>
        <td>{{ donante.dni }}</td>
    </tr>
    <tr>
        <th>Factor Sanguíneo: </th>
        <td>{{ donante.factorsang }}</td>
    </tr>
    <tr>
        <th>Fecha de Nacimiento: </th>
        <td>{{ donante.fechnaci|date('d/m/Y') }}</td>
    </tr>
    <tr>
        <th>Sexo: </th>
        <td>{{ donante.sexo }}</td>
    </tr>
    <tr>
        <th>Donante Voluntario: </th>
        <td>{% if donante.donantevoluntario == 1 %}SI{% else %}NO{% endif %}</td>
    </tr>
    <tr>
        <th>Sabe leer y escribir: </th>
        <td>{% if donante.leerescribir == 1 %}SI{% else %}NO{% endif %}</td>
    </tr>
    <tr>
        <th>Nivel Educativo: </th>
        <td>{{ donante.niveleducativo }}</td>
    </tr>
    <tr>
        <th>Ocupación: </th>
        <td>{{ donante.ocupacion }}</td>
    </tr>
    <tr>
        <th>Estado Civil: </th>
        <td>{{ donante.estadocivil }}</td>
    </tr>
    <tr>
        <th>Teléfono Particular: </th>
        <td>{{ donante.telefono }}</td>
    </tr>
    <tr>
        <th>Teléfono Celular: </th>
        <td>{{ donante.celular }}</td>
    </tr>
    <tr>
        <th>E-Mail: </th>
        <td>{{ donante.email }}</td>
    </tr>
    <tr>
        <th>País de Nacimiento: </th>
        <td>{{ donante.paisnac }}</td>
    </tr>
    <tr>
        <th>Provincia de Nacimiento: </th>
        <td>{{ donante.provnac }}</td>
    </tr>
    <tr>
        <th colspan="2">Domicilio Actual: </th>
    </tr>
    <tr>
        <th>País: </th>
        <td>{{ donante.pais }}</td>
    </tr>
    <tr>
        <th>Provincia: </th>
        <td>{{ donante.provincia }}</td>
    </tr>
    <tr>
        <th>Ciudad: </th>
        <td>{{ donante.ciudad }}</td>
    </tr>
    <tr>
        <th>Código Postal: </th>
        <td>{{ donante.codpostal }}</td>
    </tr>
    <tr>
        <th>Calle y Número: </th>
        <td>{{ donante.domicilio }}</td>
    </tr>
</table>
</br>
{% if habilitado %}
<h3>El donante se encuentra habilitado</h3>
    {% else %}
<div class="consulta"><img src="{{ asset('images/error.png') }}"/> El donante se encuentra excluido</div>
    {% endif %}
</br>

<div>
    <table class="consulta" style="width: 100%">
        <tr>
            <th> ID </th><th> Inicio </th><th> Fin </th><th> Tipo de Exclusión </th><th width =20%> Comentario </th>
        </tr>
{% for exclusion in donante.exclusion %}
        <tr>
            <td valign="middle" align="center"><a>{{ exclusion.id }}</a></td>
            <td valign="middle" align="center"><a>{{ exclusion.fechini | date("d/m/Y") }}</a></td>
            <td valign="middle" align="center"><a>{% if exclusion.fechfin != null%}
                                                    {{ exclusion.fechfin | date("d/m/Y") }}
                                                {%else%}
                            Permanente
                                                {%endif%}</a></td>
                    <td valign="middle" align="center"><a>{{ exclusion.tipoexclusion }}</a></td>
                    <td valign="middle" align="center"><a>{{ exclusion.comentario }}</a></td>
                </tr>
{% endfor %}

            </table>       
        </div>
        <br/>

{% endblock %}