{% extends "HSYSMainBundle:Usuario:usuariobase.html.twig" %}

{% block title %}ADMIN{% endblock %}

{% block contenido %}
<h3>Crear Usuario</h3>
<br/>
<form action="{{ path('admin_usuario_create') }}" method="post" {{ form_enctype(form) }}>
        <table>
            <tr>
                <td><label>Nombre de Usuario: </label></td>
                <td>{{ form_widget(form.username, {'attr': {'autofocus': 'autofocus'}}) }}</td>
                <td>{{ form_errors(form.username) }}</td>
            </tr>
            <tr>
                <td><label>Contraseña: </label></td>
                <td>{{ form_widget(form.password) }}</td>
                <td>{{ form_errors(form.password) }}</td>
            </tr>
            <tr>
                <td><label>Rol de Usuario: </label></td>
                <td>{{ form_widget(form.user_roles) }}</td>
                <td>{{ form_errors(form.user_roles) }}</td>
            </tr>
            <tr>
                <td><label>Usuario Activo: </label></td>
                <td>{{ form_widget(form.isActive) }}</td>
                <td>{{ form_errors(form.isActive) }}</td>
            </tr>
        </table>
        
        {{ form_rest(form) }}
        <input type="submit" value="Crear"/>

    </form>

    <br/>
    <div class="detalle">
        <ul>
            <li>
                <a href="{{ path('admin_usuario') }}">
                    Volver a Listado de Usuarios
                </a>
            </li>
        </ul>
    </div>

{% endblock %}
