{% extends 'HSYSMainBundle:Analisis:analisisbase.html.twig' %}

{% block title %}Análisis{% endblock %}

{% block contenido %}

<form id="buscar_form" name="buscar_form" method="post" action="{{ path('buscar_analisis') }}">
    <table>
        <tr>
            <td><label>Búsqueda: </label></td>
            <td><input id="buscar" name="buscar" type="text" style="width: 120px"/></td>
            <td><label for="criterio">Criterio: </label></td>
            <td><select name="criterio" id="criterio" style="width: 120px">
                    <option value="id">Número Análisis</option>
                </select></td>
            <td><input type="submit" value="Buscar"/></td>
        </tr>
    </table>
</form>
<br/>

<table class="consulta" style="width: 100%">
    <tr>
        <th> ID </th><th> Reactivo </th><th> Ver </th><th> Modificar </th>
    </tr>
{% for analisi in analisis %}
    <tr>
        <td><a>{{ analisi.id }}</a></td>
        <td><a>{{ analisi.reactivo }}</a></td>
        <td class="link"><a href="TWIIIG_VER">Ver</a></td>
        <td class="link"><a href="{{ path('modificar_analisis', {'id':analisi.id})  }}">Modificar</a></td>
    </tr>
{% else %}
    <div class="consulta"><img src="{{ asset('images/error.png') }}"/>    NO SE HAN ENCONTRADO DATOS</div>
    <br/>
{% endfor %}
</table>
{% endblock %}