{% extends 'HSYSMainBundle:Analisis:analisisbase.html.twig' %}

{% block title %}Nuevo Análisis de Serología{% endblock %}

{% block contenido %}

<h3>Datos de la Donacion:</h3>

<table class="detalle">
    <tr>
        <th>Numero de Donacion: </th>
        <td>{{ donacion.numdedonacion }}</td>
    </tr>
    <tr>
        <th>Numero de tubuladura: </th>
        <td>{{ donacion.idbolsa }}</td>
    </tr>
    <tr>
        <th>Numero de Lote: </th>
        <td>{{ donacion.nrolote }}</td>
    </tr>
    <tr>
        <th>Fecha extracción: </th>
        <td>{{ donacion.fechextraccion|date('d/m/Y') }}</td>
    </tr>
    <tr>
        <th>Donante: </th>
        <td>{{ donacion.Donante.nomapp }}</td>
    </tr>
    <tr>
        <th>Factor sanguineo: </th>
        <td>{{ donacion.Donante.factorsang }}</td>
    </tr>
</table>
<br/>
<h4>Datos a modificar del Analisis de Serología:</h4>
<form action="{{ path('modificar_analisis', {'id': id}) }}" method="post">
        {# {{ form_widget(form) }} #}
        <table>
            <tr>
                <td><label>Fecha Analisis de Serología: </label></td>
                <td><input type="date" id="fecha" name="fecha" value="{{analisis.fechanalisis | date('Y-m-d')}}" onChange="fechaanalisis()"/></td>
                <td hidden="hidden">{{ form_widget(form.fechanalisis) }}</td>
                <td>{{ form_errors(form.fechanalisis) }}</td>
            </tr>
            <tr>
                <td><label>CHHAI: </label></td>
                <td>{{ form_widget(form.chhai) }}</td>
                <td>{{ form_errors(form.chhai) }}</td>
            </tr>
            <tr>
                <td><label>CHEIA: </label></td>
                <td>{{ form_widget(form.cheia) }}</td>
                <td>{{ form_errors(form.cheia) }}</td>
            </tr>
            <tr>
                <td><label>antiCORE: </label></td>
                <td>{{ form_widget(form.anticore) }}</td>
                <td>{{ form_errors(form.anticore) }}</td>
            </tr>
            <tr>
                <td><label>HBSAg: </label></td>
                <td>{{ form_widget(form.hbsag) }}</td>
                <td>{{ form_errors(form.hbsag) }}</td>
            </tr>
            <tr>
                <td><label>HCVAg-Ac: </label></td>
                <td>{{ form_widget(form.hcvagac) }}</td>
                <td>{{ form_errors(form.hcvagac) }}</td>
            </tr>
            <tr>
                <td><label>HIV Ac: </label></td>
                <td>{{ form_widget(form.hivac) }}</td>
                <td>{{ form_errors(form.hivac) }}</td>
            </tr>
            <tr>
                <td><label>Ag P2Y: </label></td>
                <td>{{ form_widget(form.agp2y) }}</td>
                <td>{{ form_errors(form.agp2y) }}</td>
            </tr>
            <tr>
                <td><label>HTLV: </label></td>
                <td>{{ form_widget(form.htlv) }}</td>
                <td>{{ form_errors(form.htlv) }}</td>
            </tr>
            <tr>
                <td><label>Brucelosis: </label></td>
                <td>{{ form_widget(form.brucelosis) }}</td>
                <td>{{ form_errors(form.brucelosis) }}</td>
            </tr>
            <tr>
                <td><label>Sífilis: </label></td>
                <td>{{ form_widget(form.sifilis) }}</td>
                <td>{{ form_errors(form.sifilis) }}</td>
            </tr>
            <tr> 
                <td><label>AB0/RH(D): </label></td>
                <td hidden>{{ form_widget(form.factorsang) }}</td>
                <td>
                    <select name="factorsanguineo" id="factorsanguineo" style="width: 160px" onchange="cambiarFactorSangu()">
                        {% for factor in factorsanguineo %}
                            <option id="{{factor}}" value="{{factor}}">{{factor}}</option>
                        {% endfor %}
                        </select>
                    </td>
                    <td><input id="cambiarfs" name="cambiarfs" type="checkbox" onchange="permitircambiarfs()"> ¿Cambiar el AB0 Rh?</td>
                    <td>{{ form_errors(form.factorsang) }}</td>
                </tr>
            <tr>
                <td><label>Du: </label></td>
                <td>{{ form_widget(form.du) }}</td>
                <td>{{ form_errors(form.du) }}</td>
            </tr>
            <tr>
                <td><label>CDE: </label></td>
                <td>{{ form_widget(form.cde) }}</td>
                <td>{{ form_errors(form.cde) }}</td>
            </tr>
            <tr>
                <td><label>Fenotipo: </label></td>
                <td>{{ form_widget(form.fenotipo) }}</td>
                <td>{{ form_errors(form.fenotipo) }}</td>
            </tr>
            <tr>
                <td><label>PCI: </label></td>
                <td>{{ form_widget(form.pci) }}</td>
                <td>{{ form_errors(form.pci) }}</td>
            </tr>
            <tr><td><br/></td></tr>
            <tr>
                <td><label>Reactivo?: </label></td>
                <td>{{ form_widget(form.reactivo) }}</td>
                <td>{{ form_errors(form.reactivo) }}</td>
            </tr>
            <tr><td><br/></td></tr>
        </table>
        
        {{ form_rest(form) }}
        <input type="checkbox" name="aprobado" id="aprobado" onclick="habilitar()"> ¿Esta seguro que desea modificar el Analisis de Serología?<br>
        <input type="submit" />
    </form>
{{ form_errors(form) }}


<script src="{{ asset('js/jquery-1.9.1.js') }}"></script>
<script>

window.onload = function() {
            $('input[type="submit"]').attr('disabled','disabled');
            selectInCombo('factorsanguineo','{{ donacion.Donante.factorsang }}');
            $("#factorsanguineo").attr('disabled','disabled');
}

function selectInCombo(combo,val)
{
    for(var indice=0 ;indice<document.getElementById(combo).length;indice++)
    {
        if (document.getElementById(combo).options[indice].text==val )
            document.getElementById(combo).selectedIndex =indice;
    }
}

function cambiarFactorSangu(){
    selectInCombo('Donacion_form_factorsang',$("#factorsanguineo option:selected").attr("value"));
}
            

function permitircambiarfs() {
    if (cambiarfs.checked){
         $('#factorsanguineo').removeAttr('disabled');
    }else{
        $('#factorsanguineo').attr('disabled','disabled');
   }
};
            
            
function habilitar(){
if (aprobado.checked) {    
    $('input[type="submit"]').removeAttr('disabled');
} else {
    $('input[type="submit"]').attr('disabled','disabled');
    }
    };
    
    function fechaanalisis(){
    var $arrayFecha = $("#fecha").val().split('-');
    $("#Donacion_form_fechanalisis").attr("value",$arrayFecha[2]+"/"+$arrayFecha[1]+"/"+$arrayFecha[0]);
    }
</script>
{% endblock %}