{% extends 'HSYSMainBundle:Analisis:analisisbase.html.twig' %}

{% block title %}Nuevo Análisis de Serología{% endblock %}


{% block contenido %}
<h3>Datos de la Donación:</h3>

<table class="detalle">
    <tr>
        <th>ID: </th>
        <td>{{ donacion.id }}</td>
    </tr>
    <tr>
        <th>Número de bolsa:  </th>
        <td>{{ donacion.idbolsa }}</td>
    </tr>
    <tr>
        <th>Fecha extracción: </th>
        <td>{{ donacion.fechextraccion|date('d/m/Y') }}</td>
    </tr>
    <tr>
        <th>Donante: </th>
        <td>{{ donacion.Donante.nomapp }}</td>
    </tr>
    <tr>
        <th>Factor sanguineo: </th>
        <td>{{ donacion.Donante.factorsang }}</td>
    </tr>
</table>
<br/>
<h4>Resultados del analisis de serología:</h4>
<form action="{{ path('alta_analisis_form', {'id':donacion.id}) }}" method="post">
        {# {{ form_widget(form) }} #}
        <table>
            <tr>
                <td><label>Fecha Analisis de Serología: </label></td>
                {#<td>{{ form_widget(form.fechanalisis) }}</td>
                <td>{{ form_errors(form.fechanalisis) }}</td>#}
                <td><input type="date" id="fecha" name="fecha" value="{{"now" | date('Y-m-d')}}"/></td>
            </tr>
            <tr>
                <td><label>CHHAI: </label></td>
                <td>{{ form_widget(form.chhai) }}</td>
                <td>{{ form_errors(form.chhai) }}</td>
            </tr>
            <tr>
                <td><label>CHEIA: </label></td>
                <td>{{ form_widget(form.cheia) }}</td>
                <td>{{ form_errors(form.cheia) }}</td>
            </tr>
            <tr>
                <td><label>antiCORE: </label></td>
                <td>{{ form_widget(form.anticore) }}</td>
                <td>{{ form_errors(form.anticore) }}</td>
            </tr>
            <tr>
                <td><label>HBSAg: </label></td>
                <td>{{ form_widget(form.hbsag) }}</td>
                <td>{{ form_errors(form.hbsag) }}</td>
            </tr>
            <tr>
                <td><label>HCVAg-Ac: </label></td>
                <td>{{ form_widget(form.hcvagac) }}</td>
                <td>{{ form_errors(form.hcvagac) }}</td>
            </tr>
            <tr>
                <td><label>HIV Ac: </label></td>
                <td>{{ form_widget(form.hivac) }}</td>
                <td>{{ form_errors(form.hivac) }}</td>
            </tr>
            <tr>
                <td><label>Ag P2Y: </label></td>
                <td>{{ form_widget(form.agp2y) }}</td>
                <td>{{ form_errors(form.agp2y) }}</td>
            </tr>
            <tr>
                <td><label>HTLV: </label></td>
                <td>{{ form_widget(form.htlv) }}</td>
                <td>{{ form_errors(form.htlv) }}</td>
            </tr>
            <tr>
                <td><label>Brucelosis: </label></td>
                <td>{{ form_widget(form.brucelosis) }}</td>
                <td>{{ form_errors(form.brucelosis) }}</td>
            </tr>
            <tr>
                <td><label>Sífilis: </label></td>
                <td>{{ form_widget(form.sifilis) }}</td>
                <td>{{ form_errors(form.sifilis) }}</td>
            </tr>
            <tr>
                <td><label>AB0: </label></td>
                <td>{{ form_widget(form.abo) }}</td>
                <td>{{ form_errors(form.abo) }}</td>
            </tr>
            <tr>
                <td><label>RH (D): </label></td>
                <td>{{ form_widget(form.rhd) }}</td>
                <td>{{ form_errors(form.rhd) }}</td>
            </tr>
            <tr>
                <td><label>Du: </label></td>
                <td>{{ form_widget(form.du) }}</td>
                <td>{{ form_errors(form.du) }}</td>
            </tr>
            <tr>
                <td><label>CDE: </label></td>
                <td>{{ form_widget(form.cde) }}</td>
                <td>{{ form_errors(form.cde) }}</td>
            </tr>
            <tr>
                <td><label>Fenotipo: </label></td>
                <td>{{ form_widget(form.fenotipo) }}</td>
                <td>{{ form_errors(form.fenotipo) }}</td>
            </tr>
            <tr>
                <td><label>PCI: </label></td>
                <td>{{ form_widget(form.pci) }}</td>
                <td>{{ form_errors(form.pci) }}</td>
            </tr>
            <tr id="reactivo">
                <td><label>Reactivo?: </label></td>
                <td>{{ form_widget(form.reactivo) }}</td>
                <td>{{ form_errors(form.reactivo) }}</td>
            </tr>
        </table>
        
        {{ form_rest(form) }}
        <input id="aceptado" type="button" value="Aceptar" onclick="validacion()"/>
        <input id="modificar" type="button" value="Modificar" onclick="modificarformulario()" />
        <input type="submit" id="enviar" name="enviar"/>
    </form>
{{ form_errors(form) }}


<script src="{{ asset('js/jquery-1.9.1.js') }}"></script>
<script>
window.onload = function() {
$('#modificar').hide();
$('#enviar').hide();
$('#reactivo').hide();

}; 

function validacion(){
    alert("validacion meter codigooooo");
    $("#fecha").attr('disabled','disabled');
    $("#Donacion_form_chhai").attr('disabled','disabled');
    $("#Donacion_form_cheia").attr('disabled','disabled');
    $("#Donacion_form_anticore").attr('disabled','disabled');
    $("#Donacion_form_hbsag").attr('disabled','disabled');
    $("#Donacion_form_hcvagac").attr('disabled','disabled');
    $("#Donacion_form_hivac").attr('disabled','disabled');
    $("#Donacion_form_agp2y").attr('disabled','disabled');
    $("#Donacion_form_htlv").attr('disabled','disabled');
    $("#Donacion_form_brucelosis").attr('disabled','disabled');
    $("#Donacion_form_sifilis").attr('disabled','disabled');
    $("#Donacion_form_abo").attr('disabled','disabled');
    $("#Donacion_form_rhd").attr('disabled','disabled');
    $("#Donacion_form_du").attr('disabled','disabled');
    $("#Donacion_form_cde").attr('disabled','disabled');
    $("#Donacion_form_fenotipo").attr('disabled','disabled');
    $("#Donacion_form_pci").attr('disabled','disabled');
    $('#enviar').show();
    $('#modificar').show();
    $('#aceptado').hide();
    };
    
function modificarformulario(){
    $("#fecha").removeAttr('disabled');
    $("#Donacion_form_chhai").removeAttr('disabled');
    $("#Donacion_form_cheia").removeAttr('disabled');
    $("#Donacion_form_anticore").removeAttr('disabled');
    $("#Donacion_form_hbsag").removeAttr('disabled');
    $("#Donacion_form_hcvagac").removeAttr('disabled');
    $("#Donacion_form_hivac").removeAttr('disabled');
    $("#Donacion_form_agp2y").removeAttr('disabled');
    $("#Donacion_form_htlv").removeAttr('disabled');
    $("#Donacion_form_brucelosis").removeAttr('disabled');
    $("#Donacion_form_sifilis").removeAttr('disabled');
    $("#Donacion_form_abo").removeAttr('disabled');
    $("#Donacion_form_rhd").removeAttr('disabled');
    $("#Donacion_form_du").removeAttr('disabled');
    $("#Donacion_form_cde").removeAttr('disabled');
    $("#Donacion_form_fenotipo").removeAttr('disabled');
    $("#Donacion_form_pci").removeAttr('disabled');
    $('#enviar').hide();
    $('#modificar').hide();
    $('#aceptado').show();
    };
</script>
{% endblock %}