{% extends 'HSYSMainBundle:Analisis:analisisbase.html.twig' %}

{% block title %}Nuevo Análisis de Serología{% endblock %}


{% block contenido %}
<h3>Datos de la Donación:</h3>

<table class="detalle">
    <tr>
        <th>Numero de donacion: </th>
        <td>{{ donacion.numdedonacion }}</td>
    </tr>
    <tr>
        <th>Numero de tubuladura: </th>
        <td>{{ donacion.idbolsa }}</td>
    </tr>
    <tr>
        <th>Numero de Lote: </th>
        <td>{{ donacion.nrolote }}</td>
    </tr>
    <tr>
        <th>Fecha extracción: </th>
        <td>{{ donacion.fechextraccion|date('d/m/Y') }}</td>
    </tr>
    <tr>
        <th>Donante: </th>
        <td>{{ donacion.Donante.nomapp }}</td>
    </tr>
    <tr>
        <th>Factor sanguineo: </th>
        <td>{{ donacion.Donante.factorsang }}</td>
    </tr>
</table>
<br/>
<h4>Resultados del analisis de serología:</h4>
<form action="{{ path('alta_analisis_form', {'id':donacion.id}) }}" method="post">
        {# {{ form_widget(form) }} #}
        <table>
            <tr>
                <td><label>Fecha Analisis de Serología: </label></td>
                <td><input type="date" id="fecha" name="fecha" value="{{analisis.fechanalisis | date('Y-m-d')}}" onChange="fechaanalisis()"/></td>
                <td hidden>{{ form_widget(form.fechanalisis) }}</td>
                <td>{{ form_errors(form.fechanalisis) }}</td>
            </tr>
            <tr>
                <td><label>CHHAI: </label></td>
                <td>{{ form_widget(form.chhai) }}</td>
                <td>{{ form_errors(form.chhai) }}</td>
            </tr>
            <tr>
                <td><label>CHEIA: </label></td>
                <td>{{ form_widget(form.cheia) }}</td>
                <td>{{ form_errors(form.cheia) }}</td>
            </tr>
            <tr>
                <td><label>antiCORE: </label></td>
                <td>{{ form_widget(form.anticore) }}</td>
                <td>{{ form_errors(form.anticore) }}</td>
            </tr>
            <tr>
                <td><label>HBSAg: </label></td>
                <td>{{ form_widget(form.hbsag) }}</td>
                <td>{{ form_errors(form.hbsag) }}</td>
            </tr>
            <tr>
                <td><label>HCVAg-Ac: </label></td>
                <td>{{ form_widget(form.hcvagac) }}</td>
                <td>{{ form_errors(form.hcvagac) }}</td>
            </tr>
            <tr>
                <td><label>HIV Ac: </label></td>
                <td>{{ form_widget(form.hivac) }}</td>
                <td>{{ form_errors(form.hivac) }}</td>
            </tr>
            <tr>
                <td><label>Ag P24: </label></td>
                <td>{{ form_widget(form.agp24) }}</td>
                <td>{{ form_errors(form.agp24) }}</td>
            </tr>
            <tr>
                <td><label>HTLV: </label></td>
                <td>{{ form_widget(form.htlv) }}</td>
                <td>{{ form_errors(form.htlv) }}</td>
            </tr>
            <tr>
                <td><label>Brucelosis: </label></td>
                <td>{{ form_widget(form.brucelosis) }}</td>
                <td>{{ form_errors(form.brucelosis) }}</td>
            </tr>
            <tr>
                <td><label>Sífilis: </label></td>
                <td>{{ form_widget(form.sifilis) }}</td>
                <td>{{ form_errors(form.sifilis) }}</td>
            </tr>
            <tr>
                <td><label>AB0/RH(D): </label></td>
                <td>
                    <select name="factorsanguineo" id="factorsanguineo" style="width: 160px" onchange="cambiarFactorSangu()">
                        {% for factor in factorsanguineo %}
                            <option id="{{factor}}" value="{{factor}}">{{factor}}</option>
                        {% endfor %}
                        </select>
                   
                    <input id="cambiarfs" name="cambiarfs" type="checkbox" onchange="permitircambiarfs()"> ¿Cambiar el AB0 Rh?</td>
                    <td hidden>{{ form_widget(form.factorsang) }}</td>
                    <td>{{ form_errors(form.factorsang) }}</td>
                </tr>
                <tr>
                    <td><label>Du: </label></td>
                    <td>{{ form_widget(form.du) }}</td>
                    <td>{{ form_errors(form.du) }}</td>
                </tr>
                <tr>
                    <td><label>CDE: </label></td>
                    <td>{{ form_widget(form.cde) }}</td>
                    <td>{{ form_errors(form.cde) }}</td>
                </tr>
                <tr>
                    <td><label>Fenotipo: </label></td>
                    <td>{{ form_widget(form.fenotipo) }}</td>
                    <td>{{ form_errors(form.fenotipo) }}</td>
                </tr>
                <tr>
                    <td><label>PCI: </label></td>
                    <td>{{ form_widget(form.pci) }}</td>
                    <td>{{ form_errors(form.pci) }}</td>
                </tr>
                <tr>
                    <td><label>Comentario: </label></td>
                    <td>{{ form_widget(form.comentario) }}</td>
                    <td>{{ form_errors(form.comentario) }}</td>
                </tr>
                <tr>
                    <td><br/></td>
                </tr>
                <tr>
                    <td><label>Reactivo?: </label></td>
                    <td>{{ form_widget(form.reactivo) }}</td>
                    <td>{{ form_errors(form.reactivo) }}</td>
                </tr>
            </table>
            <br/>
        {{ form_rest(form) }}
            <div id="aprobado" name = "aprobado"><input type="checkbox" name="checkboxaprobado" id="checkboxaprobado" onclick="guardar()"> ¿Esta seguro que desea guardar el Analisis?<br> </div>
        {#<input id="aceptado" type="button" value="Aceptar" onclick="validacion()"/>
        <input id="modificar" type="button" value="Modificar" onclick="modificarformulario()" />#}
                <input type="submit" id="enviar" name="enviar"/>
            </form>
{{ form_errors(form) }}


            <script src="{{ asset('js/jquery-1.9.1.js') }}"></script>
            <script>
            window.onload = function() {
            $('input[type="submit"]').attr('disabled','disabled');

            selectInCombo('Donacion_form_factorsang','{{ donacion.Donante.factorsang }}');
            selectInCombo('factorsanguineo','{{ donacion.Donante.factorsang }}');
            $("#factorsanguineo").attr('disabled','disabled');
            
            fechaanalisis();
            
            $("#Donacion_form_chhai").attr('onchange','esReactivo()');
            $("#Donacion_form_cheia").attr('onchange','esReactivo()');
            $("#Donacion_form_anticore").attr('onchange','esReactivo()');
            $("#Donacion_form_hbsag").attr('onchange','esReactivo()');
            $("#Donacion_form_hcvagac").attr('onchange','esReactivo()');
            $("#Donacion_form_hivac").attr('onchange','esReactivo()');
            $("#Donacion_form_agp24").attr('onchange','esReactivo()');
            $("#Donacion_form_htlv").attr('onchange','esReactivo()');
            $("#Donacion_form_brucelosis").attr('onchange','esReactivo()');
            $("#Donacion_form_sifilis").attr('onchange','esReactivo()');
            $('#Donacion_form_reactivo').attr('onchange','esReactivo()');
            }; 


            function selectInCombo(combo,val)
            {
                for(var indice=0 ;indice<document.getElementById(combo).length;indice++)
                {
                    if (document.getElementById(combo).options[indice].text==val )
                        document.getElementById(combo).selectedIndex =indice;
                }
            }
            
            function cambiarFactorSangu(){
                selectInCombo('Donacion_form_factorsang',$("#factorsanguineo option:selected").attr("value"));
            }
            
            function permitircambiarfs() {
                if (cambiarfs.checked){
                     $('#factorsanguineo').removeAttr('disabled');
                }else{
                    $('#factorsanguineo').attr('disabled','disabled');
               }
            };

            function esReactivo(){  
              if($("#Donacion_form_chhai").val()=='R') { $('#Donacion_form_reactivo').val('SI');
                  }else if ($("#Donacion_form_cheia").val()=='R') { $('#Donacion_form_reactivo').val('SI');
                  }else if ($("#Donacion_form_anticore").val()=='R') {$('#Donacion_form_reactivo').val('SI');
                  }else if ($("#Donacion_form_hbsag").val()=='R') {$('#Donacion_form_reactivo').val('SI');
                  }else if ($("#Donacion_form_hcvagac").val()=='R') {$('#Donacion_form_reactivo').val('SI');
                  }else if ($("#Donacion_form_hivac").val()=='R') {$('#Donacion_form_reactivo').val('SI');
                  }else if ($("#Donacion_form_agp24").val()=='R') {$('#Donacion_form_reactivo').val('SI');
                  }else if ($("#Donacion_form_htlv").val()=='R') {$('#Donacion_form_reactivo').val('SI');
                  }else if ($("#Donacion_form_brucelosis").val()=='R') {$('#Donacion_form_reactivo').val('SI');
                  }else if ($("#Donacion_form_sifilis").val()=='R') {$('#Donacion_form_reactivo').val('SI'); 
                  }else { $('#Donacion_form_reactivo').val('NO');};
            };

 
            function guardar(){
            if (checkboxaprobado.checked) {    
                $('input[type="submit"]').removeAttr('disabled');
            } else {
                $('input[type="submit"]').attr('disabled','disabled');
                }
                };
    
    
            function fechaanalisis(){
                var $arrayFecha = $("#fecha").val().split('-');
                $("#Donacion_form_fechanalisis").attr("value",$arrayFecha[2]+"/"+$arrayFecha[1]+"/"+$arrayFecha[0]);
                }
    
                </script>
{% endblock %}

{#window.onload = function() {
$('input[type="submit"]').attr('disabled','disabled'); 
$('#modificar').hide();
$('#enviar').hide();
$('#reactivo').hide();
$('#aprobado').hide();
$('#separador').html('<br/>');
$('#separador').hide();
}; 

function validacion(){
    $("#fecha").attr('readonly','readonly');
    $("#Donacion_form_chhai").attr('readonly','readonly');
    $("#Donacion_form_cheia").attr('readonly','readonly');
    $("#Donacion_form_anticore").attr('readonly','readonly');
    $("#Donacion_form_hbsag").attr('readonly','readonly');
    $("#Donacion_form_hcvagac").attr('readonly','readonly');
    $("#Donacion_form_hivac").attr('readonly','readonly');
    $("#Donacion_form_agp24").attr('readonly','readonly');
    $("#Donacion_form_htlv").attr('readonly','readonly');
    $("#Donacion_form_brucelosis").attr('readonly','readonly');
    $("#Donacion_form_sifilis").attr('readonly','readonly');
    $("#Donacion_form_abo").attr('readonly','readonly');
    $("#Donacion_form_rhd").attr('readonly','readonly');
    $("#Donacion_form_du").attr('readonly','readonly');
    $("#Donacion_form_cde").attr('readonly','readonly');
    $("#Donacion_form_fenotipo").attr('readonly','readonly');
    $("#Donacion_form_pci").attr('readonly','readonly'); 
    fechaanalisis();
    $('#enviar').show();
    $('#modificar').show();
    $('#aceptado').hide();
    $('#aprobado').show();
    
    $('#separador').show();
    $('#reactivo').show();
    esReactivo();
    };
    
function modificarformulario(){
    $("#fecha").removeAttr('disabled');
    $("#Donacion_form_chhai").removeAttr('readonly');
    $("#Donacion_form_cheia").removeAttr('readonly');
    $("#Donacion_form_anticore").removeAttr('readonly');
    $("#Donacion_form_hbsag").removeAttr('readonly');
    $("#Donacion_form_hcvagac").removeAttr('readonly');
    $("#Donacion_form_hivac").removeAttr('readonly');
    $("#Donacion_form_agp24").removeAttr('readonly');
    $("#Donacion_form_htlv").removeAttr('readonly');
    $("#Donacion_form_brucelosis").removeAttr('readonly');
    $("#Donacion_form_sifilis").removeAttr('readonly');
    $("#Donacion_form_abo").removeAttr('readonly');
    $("#Donacion_form_rhd").removeAttr('readonly');
    $("#Donacion_form_du").removeAttr('readonly');
    $("#Donacion_form_cde").removeAttr('readonly');
    $("#Donacion_form_fenotipo").removeAttr('readonly');
    $("#Donacion_form_pci").removeAttr('readonly');
    $('#enviar').hide();
    $('#modificar').hide();
    $('#aceptado').show();
    $('#separador').hide();
    $('#reactivo').hide();
    $('#aprobado').hide();
    };
    
function esReactivo(){
  if($("#Donacion_form_chhai").val()=='R') { $('#Donacion_form_reactivo').val('SI');
      }else if ($("#Donacion_form_cheia").val()=='R') { $('#Donacion_form_reactivo').val('SI');
      }else if ($("#Donacion_form_anticore").val()=='R') {$('#Donacion_form_reactivo').val('SI');
      }else if ($("#Donacion_form_hbsag").val()=='R') {$('#Donacion_form_reactivo').val('SI');
      }else if ($("#Donacion_form_hcvagac").val()=='R') {$('#Donacion_form_reactivo').val('SI');
      }else if ($("#Donacion_form_hivac").val()=='R') {$('#Donacion_form_reactivo').val('SI');
      }else if ($("#Donacion_form_agp24").val()=='R') {$('#Donacion_form_reactivo').val('SI');
      }else if ($("#Donacion_form_htlv").val()=='R') {$('#Donacion_form_reactivo').val('SI');
      }else if ($("#Donacion_form_brucelosis").val()=='R') {$('#Donacion_form_reactivo').val('SI');
      }else if ($("#Donacion_form_sifilis").val()=='R') {$('#Donacion_form_reactivo').val('SI'); 
      }else { $('#Donacion_form_reactivo').val('NO');};
};

 
function guardar(){
if (checkboxaprobado.checked) {    
    $('input[type="submit"]').removeAttr('disabled');
} else {
    $('input[type="submit"]').attr('disabled','disabled');
    }
    };
    
    
function fechaanalisis(){
    var $arrayFecha = $("#fecha").val().split('-');
    $("#Donacion_form_fechanalisis").attr("value",$arrayFecha[2]+"/"+$arrayFecha[1]+"/"+$arrayFecha[0]);
    }
#}


