{% extends 'HSYSMainBundle:Analisis:analisisbase.html.twig' %}

{% block title %}Ver Analisis de Serología ID: {{ analisis.id }}{% endblock %}

{% block contenido %}

<div class="detalle">
    <ul>
        <li><a href=" {{ path('modificar_analisis',{'id':analisis.id}) }} ">Modificar</a></li>
    </ul>
</div>
<br/>
<table class="detalle">
    <tr>
        <th>ID de Analisis: </th>
        <td>{{ analisis.id }}</td>
    </tr>
    <tr>
        <th>Fecha de analisis de serología:  </th>
        <td>{{ analisis.fechanalisis|date('d/m/Y') }}</td>
    </tr>
    <tr>
        <th>ID de Bolsa: </th>
        <td>{{ donacion.idbolsa }}</td>
    </tr
    <tr>
        <th>REACTIVO: </th>
        {% if analisis.reactivo == 'SI' %}
        <td style="background-color: red"><b>{{ analisis.reactivo }}</b></td>
        {% else %}
            <td><b>{{ analisis.reactivo }}</b></td>
        {% endif %}
    </tr>
    <tr>
        <th>Numero de Donacion: </th>
        <td>{{ donacion.numdedonacion }}</td>
    </tr>
    <tr>
        <th>Fecha de extracción:  </th>
        <td>{{ donacion.fechextraccion|date('d/m/Y') }}</td>
    </tr>
    <tr>
        <th colspan="2">Detalle del Análisis de Serología: </th>
    </tr>
    <tr>
        <th>CHHAI: </th>
        <td>{{ analisis.chhai }}</td>
    </tr>
    <tr>
        <th>CHEIA: </th>
        <td>{{ analisis.cheia }}</td>
    </tr>
    <tr>
        <th>antiCORE: </th>
        <td>{{ analisis.anticore }}</td>
    </tr>
    <tr>
        <th>HBSAg: </th>
        <td>{{ analisis.hbsag }}</td>
    </tr>
    <tr>
        <th>HCVAg-Ac: </th>
        <td>{{ analisis.hcvagac }}</td>
    </tr>
    <tr>
        <th>HIV Ac: </th>
        <td>{{ analisis.hivac }}</td>
    </tr>
    <tr>
        <th>Ag P2Y: </th>
        <td>{{ analisis.agp2y }}</td>
    </tr>
    <tr>
        <th>HTLV: </th>
        <td>{{ analisis.htlv }}</td>
    </tr>
    <tr>
        <th>Brucelosis: </th>
        <td>{{ analisis.brucelosis }}</td>
    </tr>
    <tr>
        <th>ABO/RH(D): </th>
        <td>{{ analisis.factorsang }}</td>
    </tr>
    <tr>
        <th>DU: </th>
        <td>{{ analisis.du }}</td>
    </tr>
    <tr>
        <th>CDE: </th>
        <td>{{ analisis.cde }}</td>
    </tr>
    <tr>
        <th>Fenotipo: </th>
        <td>{{ analisis.fenotipo }}</td>
    </tr>
    <tr>
        <th>PCI: </th>
        <td>{{ analisis.pci }}</td>
    </tr>
</table>
<br/>

{% endblock %}
