{% extends 'HSYSMainBundle:Sangre:sangrebase.html.twig' %}

{% block title %}Buscar{% endblock %}

{% block contenido %}
    <form id="buscar_form" name="buscar_form" method="post" action="{{ path('buscar_unidad_tipohemocomponente') }}">
    <table>
        <tr>
            <td><label for="criterio">Criterio: </label></td>
            <td><select name="buscar" id="buscar" style="width: 160px">
                    {% for tipohemocomponente in tiposhemocomponentes %}
                    <option value="{{tipohemocomponente.id}}">{{tipohemocomponente}}</option>
                    {% endfor %}
                </select></td>
            <td><input type="submit" value="Buscar"/></td>
        </tr>
    </table>
</form>
<br/>
{% if metodo %}
<table class="consulta" style="width: 100%">
    <tr>
        <th> ID </th><th> Tipo De Hemocomponente </th><th> Fecha </th><th> Estado </th><th> Ver </th>
    </tr>
{% for unidad in unidades %}
    <tr>
        <td><a>{{ unidad.id }}</a></td>
        <td><a>{{ unidad.tipohemocomponente }}</a></td>
        <td><a>{{ unidad.vencimiento |date('d/m/Y') }}</a></td>
        <td><a>{{ unidad.estado }}</a></td>
        <td><a>VER</a></td>
       {#<td class="link"><a href="{{ path('ver_unidad', {'id':unidad.id}) }}">Ver</a></td> #}
    </tr>
{% else %}
    <div class="consulta"><img src="{{ asset('images/error.png') }}"/>    NO SE HAN ENCONTRADO DATOS</div>
    <br/>
{% endfor %}
</table>
{% endif %}


{% endblock %}