{% extends 'HSYSMainBundle:Sangre:sangrebase.html.twig' %}

{% block title %}Confirmado{% endblock %}

{% block contenido %}
<div class="consulta">
    Enhorabuena, la unidad con el id "{{ id }}" ha sido correctamente {{ accion }}.
</div>
<br/>
<div class="detalle">
    {% if accion == desbloqueada %}
        <ul>        
            <li><a href="{{ path('imprimiretiqueta', {'id':id}) }}">Imprimir Etiqueta</a></li>
            <li><a href="{{ path('pagina_sangre') }}">Continuar</a></li>
        </ul>        
    {% else %}
        <ul>        
            <li><a href="{{ path('pagina_sangre') }}">Haga clic aquí para continuar</a></li>
        </ul>
    {% endif %}
    </div>
{% endblock %}