{% extends 'HSYSMainBundle:Sangre:sangrebase.html.twig' %}

{% block title %}Crear un fraccionamiento{% endblock %}

{% block contenido %}
<h3>Datos de la Sangre Entera</h3>
{% include 'HSYSMainBundle:Sangre:datosdeunidadver.html.twig' with {'unidad': unidad} %}
</br>
<h3>Fraccionamiento</h3>
<form id="crearUnidad" name="crearUnidad" method="post" action="{{ path('crearfraccionamiento_unidad',{'id':unidad.id}) }}">
    <table class="detalle">
    <h3>Grupo Sanguíneo</h3>
        <tr>
            <th>AB0 Rh: </th>
            <td><input name="factorsanguineo" id="factorsanguineo" hidden>
                <select name="selectfs" id="selectfs" style="width: 160px" onchange="cambiarfactorsanguineo()">
                        {% for factor in factorsanguineo %}
                        <option id="{{factor}}" value="{{factor}}">{{factor}}</option>
                        {% endfor %}
                </select>    
           </td>
           {% if is_granted('ROLE_MEDICO') %}
           <td id="cambiarfstd">
               <input id="cambiarfs" name="cambiarfs" type="checkbox" onchange="permitircambiarfs()"> ¿Cambiar el AB0 Rh?
           </td>
           {% endif %}
        </tr>
    </table>
        
</br>
    
    <table class="detalle">
        <h3>Agregar nueva unidad</h3>
    <tr>
        <th>Tipo de Hemocomponente: </th>
        <td><select name="tipohemocomponente" id="tipohemocomponente" style="width: 160px">
                    {% for tipohemocomponente in tiposhemocomponentes %}
                    <option id="{{tipohemocomponente.duracion}}" value="{{tipohemocomponente.id}}">{{tipohemocomponente}}</option>
                    {% endfor %}
                    </select> 
       </td>
    </tr>
    <tr> 
        <th>Volumen: </th>
        <td><input name="volumen" id="volumen" style="width: 160px"/> cc</td>
    </tr>
    <tr> 
        <th>Fecha de extracción: </th>
        <td><input type="date" name="fechaextraccion" id="fechaextraccion" value="{{ unidad.donacion.fechextraccion | date('Y-m-d') }}" style="width: 160px" disabled=""/></td>
    </tr>
    <tr>
        <th>Días de vencimiento: </th>
        <td><input id="cantidaddedias" name="cantidaddedias" disabled type=number onchange="cambiodias()"> 
            <input id="cambiardias" name="cambiardias" type=checkbox onclick="habilitarnumber()"> ¿Cambiar dias?</td>
    </tr>
    <tr>
        <th>Fecha de vencimiento: </th>
        <td><label name="fechavencimiento" id="fechavencimiento"></label></td>
    </tr>
    <tr> 
        <th>Estado: </th>
        <td><label name="estado" id="estado" style="width: 160px">Bloqueado</label></td>
    </tr>
</table>
<br>
<input type="submit" value="Crear unidad"/></td>
</form>

</br>
<form id="verUnidad" name="verUnidad" method="post" action="{{path('confirmacionfracionamiento_unidad',{'id':unidad.id})}}">
    <h3> Unidades Fraccionadas </h3>
    {% include 'HSYSMainBundle:Sangre:resultados.html.twig' with {'unidades': unidades} %}
    <br>
<input type="submit" value="Terminar"/></td>
</form>


<script src="{{ asset('js/jquery-1.9.1.js') }}"></script>
<script>
window.onload = function() {
    if ( "{{unidad.factorsang}}"==""){ 
        $("#cambiarfstd").hide();
        $("<option value='X' selected='selected'>AB0/RhD</option>").insertBefore($("select option")[0]);
        $('input[type="submit"]').attr('disabled','disabled'); 
    }else{
        $("#cambiarfstd").show();
        $('#selectfs').attr('disabled','disabled');
        $('#selectfs').val('{{unidad.factorsang}}');
        cambiarfactorsanguineo();
     } 
};

{#{% if unidad.factorsang is null  %} #}
$("select").change(function(){ 
    $("select option[value='X']").remove();
    $('input[type="submit"]').removeAttr('disabled');
});
{#{%endif%}#}
    
function permitircambiarfs() {
    if (cambiarfs.checked){
        $('#selectfs').removeAttr('disabled');
    }else{
        $('#selectfs').attr('disabled','disabled');
    }
};

function cambiarfactorsanguineo(){
    $("#factorsanguineo").attr("value",$("#selectfs option:selected").attr("value"));
}

$("#tipohemocomponente").change(function(){
        var cantidad = $("#tipohemocomponente option:selected").attr("id");
        $("#cantidaddedias").val(cantidad);
        cambiodias();
});

function cambiodias(){
        var cantidad = $("#cantidaddedias").val();
        if (cantidad <= 0) {
            cantidad++;
            $("#cantidaddedias").val(cantidad);
        } else {
                var fecha1 = $("#fechaextraccion").get(0).value;
                var fecha12 = fecha1.split("-");
                var fe = new Date(fecha12[0],fecha12[1]-1,fecha12[2]);
                var fechactual = fe.valueOf();
                var fechsalida = new Date(fechactual + ( cantidad * 86400000 ) );
                $("#fechavencimiento").text(fechsalida.getDate() + "/" + (fechsalida.getMonth() +1) + "/" + fechsalida.getFullYear());
        }
        $("#cantidaddedias").attr("value",cantidad);
};


function habilitarnumber(){
if (cambiardias.checked) {    
    $('#cantidaddedias').removeAttr('disabled');
} else {
    $('#cantidaddedias').attr('disabled','disabled');
    }
    };
</script>
{% endblock %}