
<table class="detalle">
    <tr>
        <th>Número de Donación: </th>
        <td>{{unidad.donacion.numdedonacion}}</td>
    </tr>
    <tr>
        <th>Código de unidad: </th>
        <td>{{ unidad.id }}</td>
    </tr>
        <tr>
        <th>AB0/Rh(D): </th>
        <td>{{ unidad.factorsang  }}</td>
    </tr>
    <tr>
        <th>Tipo de Hemocomponente: </th>
        <td>{{ unidad.tipohemocomponente }}</td>
    </tr>
    <tr>
        <th>Estado: </th>
        <td>{{ unidad.estado }}</td>
    </tr>
    {% if unidad.estado == 'Descartado' %}
    <tr>
        <th>Causa de descarte: </th>
        <td>{{ unidad.causadescarte }}</td>
    </tr>
    {% endif %}
    <tr>
        <th>Fecha de Extracción: </th>
        <td>{{ unidad.Donacion.fechextraccion | date("d/m/Y")  }}</td>
    </tr>
    <tr>
        <th>Fecha de vencimiento: </th>
        <td>{{ unidad.vencimiento | date("d/m/Y")  }}</td>
    </tr>
    <tr>
        <th>Número de Tubuladura: </th>
        <td>{{ unidad.idbolsa }}</td>
    </tr>
    <tr>
        <th>Número de Lote: </th>
        <td>{{ unidad.nrolote }}</td>
    </tr>
    <tr>
        <th>Tipo de bolsa: </th>
        <td>{{ unidad.tipobolsa }}</td>
    </tr>
    <tr>
        <th>Marca de bolsa: </th>
        <td>{{ unidad.marca }}</td>
    </tr>
    <tr>
        <th>Anticoagulante: </th>
        <td>{{ unidad.anticoagulante }}</td>
    </tr>
    <tr>
        <th>Volumen: </th>
        <td>{{ unidad.volumen }}</td>
    </tr>
</table>
<br/>
<table class="detalle">
        <tr><th>Comentarios: </th></tr>
        <tr><td>{{ unidad.comentarios }}</td></tr>
</table>