
<table class="detalle">
    <tr>
        <th>Codigo: </th>
        <td>{{ unidad.id }}</td>
    </tr>
        <tr>
        <th>AB0/RhD: </th>
        <td>{{ unidad.factorsang  }}</td>
    </tr>
    <tr>
        <th>Fecha de vencimiento: </th>
        <td>{{ unidad.vencimiento | date("d/m/Y")  }}</td>
    </tr>
    <tr>
        <th>Codigo de Bolsa: </th>
        <td>{{ unidad.idbolsa }}</td>
    </tr>
    <tr>
        <th>Tipo de Hemocomponente: </th>
        <td>{{ unidad.tipohemocomponente }}</td>
    </tr>
    <tr>
        <th>Estado: </th>
        <td>{{ unidad.estado }}</td>
    </tr>
    <tr>
        <th>Volumen: </th>
        <td>{{ unidad.volumen }}</td>
    </tr>
</table>
