<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
        <title>HSys - Imprimir Etiqueta</title>
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}" type="text/css" />
        <link rel="icon" type="image" href="{{ asset('images/Hsys icon1.png') }}" />
    </head>
    <body style="background: white">
        <table id="imprimible" style="text-align: center">
            <tr><th colspan="2" style="font-size: small; text-decoration: underline">CENTRO PROVINCIAL DE HEMOTERAPIA DEL CHACO</td></tr>
 
            <tr><th style="font-size: small">AB0/RH: </th><td style="font-size: 21px">{{ unidad.Donacion.analisis.factorsang }}</td></tr>
            
            <tr><th style="font-size: small">Hemocomponente: </th><td style="font-size: small">{{ unidad.tipohemocomponente.nombre }}</td></tr>
            
            <tr><th style="font-size: small">Fecha Extracción: </th><td style="font-size: small">{{ unidad.Donacion.fechextraccion | date("d/m/Y") }}</td></tr>
            
            <tr><th style="font-size: small">Fecha Vencimiento: </th><td style="font-size: small">{{ unidad.vencimiento | date("d/m/Y") }}</td></tr>
            
            <tr>{# <th style="font-size: small">N° Extracción: </th> #}<td colspan="2"><barcode>*{{ unidad.Donacion.numdedonacion }}*</barcode></td></tr>
            
            <tr><th colspan="2" style="font-size: small; text-decoration: underline">SEROLOGÍA</th></tr>
            
            <tr><td style="font-size: x-small"><b>CHHAI:</b> {{ unidad.Donacion.analisis.chhai }}</td><td style="font-size: x-small"><b>CHEIA: </b>{{ unidad.Donacion.analisis.cheia }}</td></tr>
            
            <tr><td style="font-size: x-small"><b>antiCORE:</b> {{ unidad.Donacion.analisis.anticore }}</td><td style="font-size: x-small"><b>HBSAg: </b>{{ unidad.Donacion.analisis.hbsag }}</td></tr>
            
            <tr><td style="font-size: x-small"><b>HCVAg-Ac:</b> {{ unidad.Donacion.analisis.hcvagac }}</td><td style="font-size: x-small"><b>HIV Ac: </b>{{ unidad.Donacion.analisis.hivac }}</td></tr>
            
            <tr><td style="font-size: x-small"><b>Ag P24:</b> {{ unidad.Donacion.analisis.agp24 }}</td><td style="font-size: x-small"><b>HTLV: </b>{{ unidad.Donacion.analisis.htlv }}</td></tr>
            
            <tr><td style="font-size: x-small"><b>Brucelosis:</b> {{ unidad.Donacion.analisis.brucelosis }}</td><td style="font-size: x-small"><b>Sífilis: </b>{{ unidad.Donacion.analisis.sifilis }}</td></tr>
            
            <tr><td style="font-size: x-small"><b>Du:</b> {% if unidad.Donacion.analisis.du == '+' %}Positivo{% elseif unidad.Donacion.analisis.du == '-'%}Negativo{% endif %} ({{ unidad.Donacion.analisis.du }})</td><td style="font-size: x-small"><b>CDE: </b>{{ unidad.Donacion.analisis.cde }}</td></tr>
            
            <tr><td style="font-size: x-small"><b>Fenotipo:</b> {{ unidad.Donacion.analisis.fenotipo }}</td><td style="font-size: x-small"><b>PCI: </b>{% if unidad.Donacion.analisis.pci == '+' %}Positivo{% elseif unidad.Donacion.analisis.pci == '-' %}Negativo{% endif %} ({{ unidad.Donacion.analisis.pci }})</td></tr>
            
            <tr><td colspan="2" style="font-size: larger">REACTIVO: <b>{{ unidad.Donacion.analisis.reactivo }}</b></td></tr>
            
            <tr>
                <td><a id="boton" onclick="imprimir()" style="font-size: larger; font-weight: bold; cursor: pointer">Imprimir</a></td>
                <td><a id="volver" href="{{ path('ver_unidad',{'id':unidad.id}) }}" style="font-size: larger; font-weight: bold">Volver</a></td>
            </tr>
        </table>

    </body>
    <script src="{{ asset('js/jquery-1.9.1.js') }}"></script>
    <script>
                function imprimir() {
                    $('#boton').hide();
                    $('#volver').hide();
                    javascript:window.print();
                    $('#boton').show();
                    $('#volver').show();
                }
        </script>

    </html>