{# empty Twig template #}
{% extends '::basico.html.twig' %}

{% block sidebar %}
<ul>    
    <li><a href="{{ path('pagina_sangre') }}" title="Consultar Unidad">Consultar Unidad</a></li>
    <li>
        <ul>
            <li><a href="{{ path('buscar_unidad_donacion') }}" title="Por Número de Donación">Por Número de Donación</a></li>
            <li><a href="{{ path('buscar_unidad_id') }}" title="Por Código de Unidad">Por Código de Unidad</a></li>
            <li><a href="{{ path('buscar_unidad_tipohemocomponente') }}" title="Por Tipo de Hemocomponente">Por Tipo de Hemocomponente</a></li>
            <li><a href="{{ path('buscar_unidad_estado') }}" title="Por Estado">Por Estado</a></li>
            <li><a href="{{ path('buscar_unidad_fecha') }}" title="Por Fecha de Vencimiento">Por Fecha de Vencimiento</a></li>
            <li><a href="{{ path('buscar_unidad_factorsanguineo') }}" title="Por factor Sanguíneo">Por Factor Sanguíneo</a></li>
            <li><a href="{{ path('buscar_unidad_avanzada') }}" title="Avanzada">Búsqueda Avanzada</a></li>            
        </ul>
    </li>
</ul>
<ul>
    <li><a href="{{ path('informe_vencimiento') }}" title="Informe Unidades a Vencer">Informe Unidades a Vencer</a></li>
</ul>
{% endblock %}

{% block sangreSel %}class="selected"{% endblock %}