{% extends 'HSYSMainBundle:Sangre:sangrebase.html.twig' %}

{% block title %}Ver unidad {{ unidad.id }}{% endblock %}

{% block contenido %}

<div class="detalle">
    <ul>
        {% if "Desbloqueado" in estados %}
        <li><a href="{{ path('desbloquear_unidad',{'id':unidad.id}) }}">Desbloquear</a></li>
        {% endif %}
        {% if "Transfundido" in estados %}
        <li><a href="{{ path('transfundir_unidad',{'id':unidad.id}) }}">Transfundir</a></li>
        {% endif %}
        {% if "Descartado" in estados %}
        <li><a href="{{ path('desechar_unidad',{'id':unidad.id}) }}">Descartar</a></li>
        {% endif %}
        {% if "Bloqueado" in estados %}
        <li><a href="{{ path('bloquear_unidad',{'id':unidad.id}) }}">Bloquear</a></li>
        {% endif %}
        {% if unidad.tipohemocomponente == "Sangre Entera" and "Fraccionado" in estados %}
        <li><a href="{{ path('crearfraccionamiento_unidad',{'id':unidad.id}) }}">Crear Fraccionamiento</a></li>
        {% endif %}
    </ul>
</div>

</br>
{% include 'HSYSMainBundle:Sangre:datosdeunidadver.html.twig' with {'unidad': unidad} %}
{% endblock %}