{# empty Twig template #}
{% extends '::basico.html.twig' %}

{% block sidebar %}
<ul>
    <li><a href="{{ path('pagina_informes') }}">Generar Informes</a></li>
    <li>
        <ul>
            {% if is_granted('ROLE_BIOQUIMICO') %}<li><a href="{{ path('informe_analisis') }}">Informe Diario de Serología</a></li>{%endif%}
            {% if is_granted('ROLE_ADMIN')%}<li><a href="{{ path('informe_descarte') }}">Informe de Descarte de Unidades</a></li>{%endif%}
            {% if is_granted('ROLE_ADMIN')%}<li><a href="{{ path('informe_desbloqueo') }}">Informe de Desbloqueo de Unidades</a></li>{%endif%}
            {% if is_granted('ROLE_ADMIN')%}<li><a href="{{ path('informe_voluntario') }}">Informe de Donantes Voluntarios</a></li>{%endif%}
            {% if is_granted('ROLE_ADMIN')%}<li><a href="{{ path('informe_extraccion') }}">Informe de Extracciones</a></li>{%endif%}
            {% if is_granted('ROLE_MEDICO')%}<li><a href="{{ path('informe_vencimiento') }}">Informe de Unidades por Vencer</a></li>{%endif%}
            {% if is_granted('ROLE_MEDICO')%}<li><a href="{{ path('informe_stock') }}">Informe de Unidades en Stock</a></li>{%endif%}
        </ul>
    </li>
</ul>
{% endblock %}

{% block informesSel %}class="selected"{% endblock %}