{% extends 'HSYSMainBundle:Donacion:donacionbase.html.twig' %}

{% block title %}Anular Donación{% endblock %}

{% block contenido %}

<table class="detalle">
    <tr>
        <th colspan="2">Datos Generales</th>
    </tr>
    <tr>
        <th>Número de Donación: </th>
        <td>{{ donacion.numdedonacion }}</td>
    </tr>
    <tr>
        <th>Fecha de extracción:  </th>
        <td>{{ donacion.fechextraccion|date('d/m/Y') }}</td>
    </tr>
    <tr>
        <th>Tipo Donación:  </th>
        <td>{{ donacion.tipodonacion }}</td>
    </tr>

    <tr>
        <th>Hospital de extracción:  </th>
        <td>{{ donacion.hospital }}</td>
    </tr>
</table>
<br/>
<h3>Anular Donación</h3>
<form action="{{ path('anular_donacion', {'id':donacion.id}) }}" method="post">

    <table>
        <tr>
            <td><label>Fecha de Anulación: </label></td>
            <td><input type="date" value="{{ 'now' | date('Y-m-d') }}" name="fecha" id="fecha" autofocus="autofocus"></td>
        </tr>
        <tr>
            <td><label>Causa: </label></td>
            <td><select name="causa" id="causa" style="width:164px">
                {% for causa in causas %}<option id="{{ causa }}" value="{{ causa }}">{{ causa }}</option>{% endfor %}
                        </select></td>
                </tr>
                <tr>
                    <td><label>Comentario: </label></td>
                    <td><textarea name="comentario" id="comentario" rows="4" cols="50"></textarea></td>
                </tr>
            </table>
            <br/>
            <input type="checkbox" name="anular" id="anular" onclick="habilitar()"><label> ¿Está seguro que desea anular la donación {{donacion.numdedonacion}}? </label><br>
            <br/>
            <input type="submit" value="Anular Donación"/>
        </form>

        <script src="{{ asset('js/jquery-1.9.1.js') }}"></script>
        <script>
                $('input[type="submit"]').attr('disabled', 'disabled');
                function habilitar() {
                    if (anular.checked) {
                        $('input[type="submit"]').removeAttr('disabled');
                    } else {
                        $('input[type="submit"]').attr('disabled', 'disabled');
                    }
                }
                ;
            </script>
{%endblock%}
