{% extends 'HSYSMainBundle:Donacion:donacionbase.html.twig' %}

{% block title %}Buscar Donaci贸n por Fecha{% endblock %}

{% block contenido %}
<h3>Buscar Donaci贸n por Fecha:</h3>
<form id="buscar_form" name="buscar_form" method="post" action="{{ path('buscar_donacion_fecha') }}">
    <table>
        <tr>
            <td><label>Desde: </label></td>
            <td><input id="desde" name="desde" type="date" style="width: 120px"/></td>
            <td style="width: 30px"></td>
            <td><label>Hasta: </label></td>
            <td><input id="hasta" name="hasta" type="date" style="width: 120px"/></td>
            <td style="width: 30px"></td>
            <td><input type="submit" value="Buscar"/></td>
        </tr>
    </table>
</form>
<br/>

{% if donaciones %}
<table class="consulta" style="width: 100%">
    <tr>
        <th> ID </th><td>Donante</td><th> Fecha </th><th> Ver </th>{#<th> Crear una exclusi贸n </th>#}<th> Anular </th>
    </tr>
{% for donacion in donaciones %}
    <tr>
        <td><a>{{ donacion.id }}</a></td>
        <td><a>{{ donacion.donante.nomapp }}</a></td>
        <td><a>{{ donacion.fechextraccion|date('d/m/Y') }}</a></td>
        <td class="link"><a href="{{ path('ver_donacion', {'id':donacion.id}) }}">Ver</a></td>
        {#<td class="link"><a href="{{ path('exclusion_donacion', {'id':donacion.id})  }}"> Crear una exclusi贸n </a></td>#}
        <td class="link"><a href="{{ path('anular_donacion', {'id':donacion.id}) }}">Anular</a></td>
    </tr>
{% else %}
    <div class="consulta"><img src="{{ asset('images/error.png') }}"/>    NO SE HAN ENCONTRADO DATOS</div>
    <br/>
{% endfor %}
</table>
{% endif %}
{% endblock %}