{% extends 'HSYSMainBundle:Donacion:donacionbase.html.twig' %}

{% block title %}Donación Voluntaria{% endblock %}

{% block contenido %}

<h3>Donación Número: {{ donacion.numdedonacion }}</h3>

{# <h3>Donante:</h3>
{% if donante.excluido %}
<div class="consulta"><img src="{{ asset('images/error.png') }}"/>    DONANTE EXCLUIDO</div>
{% endif %}
    <table class="detalle">
        <tr>
            <th>ID: </th>
            <td>{{ donante.id }}</td>
        </tr>
        <tr>
            <th>Apellido y Nombre:  </th>
            <td>{{ donante.nomapp }}</td>
        </tr>
        <tr>
            <th>Factor Sangíneo: </th>
            <td>{{ donante.factorsang }}</td>
        </tr>

    </table>

#}
<br/>
<form id="donacion_form" name="donacion_form" method="post" action="{{ path('alta_extraccion_confirmar') }}">
    <table>
        <tr>
            <td><label><u>Datos de la Extracción: </u></label></td>
        </tr>
        <tr>
            <td><label>Volúmen extraído: </label></td>
            <td><input type="number" step="any" id="volumen" name="volumen" type="text" value="450" autofocus="autofocus"/></td>
            <td>cc</td>
        </tr>
        <tr>
            <td><label>Flebotomía: </label></td>
            <td><select  id="flebotomia" name="flebotomia" style="width: 100%">
                    <option value="Brazo Izquierdo">Brazo Izquierdo</option>
                    <option value="Brazo Derecho">Brazo Derecho</option>
                </select>
            </td>
        </tr>
        <tr>
            <td><label>Punción: </label></td>
            <td><select  id="puncion" name="puncion" style="width: 100%">
                    <option value="Unica">Unica</option>
                    <option value="Varias">Varias</option>
                </select>
            </td>
        </tr>
        <tr>
            <td><label>Reacción Postextracción: </label></td>
            <td><select id="selectreaccionpostextraccion" name="selectreaccionpostextraccion" style="width: 100%" onchange="cambiarreaccionpostextraccion()">
                    <option value="Buena">Buena</option>
                    <option value="Lipotina">Lipotina</option>
                    <option value="Otra">Otra</option>
                </select>
            </td>
            <td><input id="reaccionpostextraccion" name="reaccionpostextraccion"> </td>
        </tr>
        <tr>
            <td><label>Responsable Extracción: </label></td>
            <td>
                <select id="respExtraccion" name="respExtraccion" style="width: 100%">
                           {% for resp in responsables %}
                        <option value="{{ resp.id }}">{{ resp.username }}</option>
                           {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td><label>Comentarios: </label></td>
                <td><textarea id="comentarios" name="comentarios" rows="5" form="donacion_form" style="width: 93%"></textarea></td>
            </tr>
            <tr>
                <td><input type="submit" name="action" value="Guardar y Continuar"/></td>
                <td><input type="button" value="Cargarlo Luego" onclick="location.href='{{ path('ver_donacion', {'id':donacion.id}) }}'"/></td>
            </tr> 
        </table>
        <input id="numdedonacion" name="numdedonacion" type="hidden" value="{{ donacion.numdedonacion }}" />
    </form>

    <script src="{{ asset('js/jquery-1.9.1.js') }}"></script>
    <script>
        window.onload = function() {
            cambiarreaccionpostextraccion();
        }
    
        function cambiarreaccionpostextraccion(){
            $("#reaccionpostextraccion").val($("#selectreaccionpostextraccion").val());
            if ($("#reaccionpostextraccion").val()=="Otra"){
                $("#reaccionpostextraccion").show();
            } else{
                $("#reaccionpostextraccion").hide();
            }       
        };

        </script>

{% endblock %}