<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
        <title>HSys - Informe Diario de Serología</title>
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}" type="text/css" />
        <link rel="icon" type="image" href="{{ asset('images/Hsys icon1.png') }}" />
    </head>
    <body style="background: white">
        <table id="esconder">
            <tr>
                <td><a id="boton" onclick="imprimir()" style="font-size: larger; font-weight: bold; cursor: pointer">Imprimir</a></td><td style="width: 25px"></td>
                <td><a id="volver" href="{{ path('pagina_donacion') }}" style="font-size: larger; font-weight: bold">Volver</a></td>
            </tr>
        </table>
        {% for codigo in codigos %}
        <table style="width:250px; text-align: center">
                {% for i in range(1, 9, 1) %}
                <tr><td>{{codigo}}</td></tr>
                <tr><td><barcode>*{{codigo}}*</barcode></td></tr>
                <tr></tr>
                {% endfor %}

            </table>
            <P style="page-break-before: always"> 
        {% endfor %}


            </body>
            <script src="{{ asset('js/jquery-1.9.1.js') }}"></script>
            <script>
                    function imprimir() {
                        //$('#boton').hide();
                        //$('#volver').hide();
                        $('#esconder').hide();
                        javascript:window.print();
                        //$('#boton').show();
                        //$('#volver').show();
                        $('#esconder').show();
                    }
                </script>

            </html>
