{% extends 'HSYSMainBundle:Donacion:donacionbase.html.twig' %}

{% block title %}Donación Voluntaria{% endblock %}

{% block contenido %}

<h3>Donante:</h3>
{% if donante.excluido %}
<div class="consulta"><img src="{{ asset('images/error.png') }}"/>    DONANTE EXCLUIDO</div>
{% endif %}
<table class="detalle">
    <tr>
        <th>ID: </th>
        <td>{{ donante.id }}</td>
    </tr>
    <tr>
        <th>Apellido y Nombre:  </th>
        <td>{{ donante.nomapp }}</td>
    </tr>
    <tr>
        <th>Factor Sangíneo: </th>
        <td>{{ donante.factorsang }}</td>
    </tr>
</table>
<br/>
<h3>Receptor:</h3>
<table class="detalle">
    <tr>
        <th>ID: </th>
        <td>{{ receptor.id }}</td>
    </tr>
    <tr>
        <th>Apellido y Nombre:  </th>
        <td>{{ receptor.nomapp }}</td>
    </tr>
    <tr>
        <th>Factor Sangíneo: </th>
        <td>{{ receptor.factorsang }}</td>
    </tr>
</table>
<br/>
<form id="donacion_form" name="donacion_form" method="post" action="{{ path('alta_donacion_receptor_confirmar') }}">
    <table>
        <tr>
            <td><label>Fecha extracción: </label></td>
            <td><input  id="fecha" name="fecha" type="date" value="{{ "now"|date('Y-m-d') }}"/></td><!required="required">
        </tr>
        <tr>
            <td><label>Localidad de extracción: </label></td>
            <td><input id="localidad" name="localidad" type="text"/></td>
        </tr>
        <tr>
            <td><label>Hospital de extracción: </label></td>
            <td><input id="hospital" name="hospital" type="text"/></td>
        </tr>
        <tr>
            <td><label>Número de Bolsa: </label></td>
            <td><input required="required" id="bolsa" name="bolsa" type="text"/></td>
        </tr>
        <tr>
            <td><label>Volúmen extraído: </label></td>
            <td><input id="volumen" name="volumen" type="text"/></td>
            <td>cc</td>
        </tr>
        <tr>
            <td><label>Flebotomía: </label></td>
            <td><select  id="flebotomia" name="flebotomia">
                    <option value="Brazo Izquierdo">Brazo Izquierdo</option>
                    <option value="Brazo Derecho">Brazo Derecho</option>
            </td>
        </tr>
        <tr>
            <td><label>Punción: </label></td>
            <td><select  id="puncion" name="puncion">
                    <option value="Unica">Unica</option>
                    <option value="Varias">Varias</option>
            </td>
        </tr>
        <tr>
            <td><label>Reacción Postextracción: </label></td>
            <td><select  id="reaccionpostextraccion" name="reaccionpostextraccion">
                    <option value="Buena">Buena</option>
                    <option value="Lipotina">Lipotina</option>
                    <option value="Otra">Otra</option>
            </td>
        </tr>
        <tr>
            <td><label>Comentarios: </label></td>
            <td><textarea id="comentarios" name="comentarios" rows="5" form="donacion_form" style="auto"></textarea></td>
        </tr>
        <tr>
            <td><input type="submit" value="Confirmar"/></td>
        </tr>
    </table>
        <input id="donante" name="donante" type="hidden" value="{{ donante.id }}" />
        <input id="receptor" name="receptor" type="hidden" value="{{ receptor.id }}" />
</form>

{% endblock %}