{% extends 'HSYSMainBundle:Donacion:donacionbase.html.twig' %}

{% block title %}Ver Donación {{ donacion.id }}{% endblock %}

{% block contenido %}

<div class="detalle">
    <ul>
        <li><a href="{{ path('modificar_donacion',{'id':donacion.id}) }}">Modificar</a></li>
        <li><a href= "{{ path('anular_donacion',{'id':donacion.id}) }}">Anular</a></li>
        <li><a href="{{ path('excluir_donante',{'id':donacion.donante.id}) }}">Crear una exlusión</a></li>
    </ul>
</div>
<br/>
<table class="detalle">
    <tr>
        <th>ID: </th>
        <td>{{ donacion.id }}</td>
    </tr>
    <tr>
        <th>Fecha de extracción:  </th>
        <td>{{ donacion.fechextraccion|date('d/m/Y') }}</td>
    </tr>
    <tr>
        <th>Tipo Donación:  </th>
        <td>{{ donacion.tipodonacion }}</td>
    </tr>
    <tr>
        <th>Localidad de extracción:  </th>
        <td>{{ donacion.localidad }}</td>
    </tr>
    <tr>
        <th>Hospital de extracción:  </th>
        <td>{{ donacion.hospital }}</td>
    </tr>
    <tr>
        <th>Número de Bolsa: </th>
        <td>{{ donacion.idbolsa }}</td>
    </tr>
    <tr>
        <th>Flebotomía:  </th>
        <td>{{ donacion.flebotomia }}</td>
    </tr>
    <tr>
        <th>Punción:  </th>
        <td>{{ donacion.puncion }}</td>
    </tr>
    <tr>
        <th>Reacción Postextracción:  </th>
        <td>{{ donacion.reaccionpostextraccion }}</td>
    </tr>
    <tr>
        <th>Comentarios: </th>
        <td>{{ donacion.comentario }}</td>
    </tr>
    <tr>
        <th>ID del Donante: </th>
        <td>{{ donacion.donante.id }}</td>
    </tr>
    <tr>
        <th>Nombre del Donante: </th>
        <td>{{ donacion.donante.nomapp }}</td>
    </tr>
    {% if donacion.receptor %}
        <tr>
            <th>ID del Receptor: </th>
            <td>{{ donacion.receptor.id }}</td>
        </tr>
        <tr>
            <th>Nombre del Receptor: </th>
            <td>{{ donacion.receptor.nomapp }}</td>
        </tr>
    {% endif %}
</table>
<br/>

{% endblock %}
