{% extends 'HSYSMainBundle:Donacion:donacionbase.html.twig' %}

{% block title %}Donaciones del Donante {{ donante.id }}{% endblock %}

{% block contenido %}



{% if donante  %}
    <table class="detalle">
        <tr>
            <th>ID del Donante: </th>
            <td>{{ donante.id }}</td>
        </tr>
        <tr>
            <th>Nombre del Donante: </th>
            <td>{{ donante.nomapp }}</td>
        </tr>
    </table>
    <br/>
{% endif %}

    <h3>Fue Donante en:</h3>
{% if donaciones %}
<table class="consulta" style="width: 100%">
    <tr>
        <th> ID </th><th> Tipo Donaci贸n </th><th> Fecha </th><th> Ver </th>{#<th> Crear una exclusi贸n </th>#}{% if is_granted('ROLE_MEDICO') %}<th> Anular </th>{% endif %}
    </tr>
{% for donacion in donaciones %}
    <tr>
        <td><a>{{ donacion.id }}</a></td>
        <td><a>{{ donacion.tipodonacion }}</a></td>
        <td><a>{{ donacion.fechextraccion|date('d/m/Y') }}</a></td>
        <td class="link"><a href="{{ path('ver_donacion', {'id':donacion.id}) }}">Ver</a></td>
        {#<td class="link"><a href="{{ path('exclusion_donacion', {'id':donacion.id})  }}"> Crear una exclusi贸n </a></td>#}
        {% if is_granted('ROLE_MEDICO') %}
            {% if donacion.anulado is null %}
                <td class="link"><a href="{{ path('anular_donacion', {'id':donacion.id}) }}">Anular</a></td>
            {% else %}
                <td></td>
            {% endif %}
        {% endif %}
    </tr>
    
{% else %}
    <div class="consulta"><img src="{{ asset('images/error.png') }}"/>    NO SE HAN ENCONTRADO DATOS</div>
    <br/>
{% endfor %}
</table>
{% endif %}
    
<br>
<br>

    <h3>Fue Receptor en:</h3>

<table class="consulta" style="width: 100%">
    <tr>
        <th> ID </th><th> Tipo Donaci贸n </th><th> Fecha </th><th> Ver </th>{% if is_granted('ROLE_MEDICO') %}<th> Anular </th>{% endif %}
    </tr>
{% for receptor in receptores %}
    <tr>
        <td><a>{{ receptor.id }}</a></td>
        <td><a>{{ receptor.tipodonacion }}</a></td>
        <td><a>{{ receptor.fechextraccion|date('d/m/Y') }}</a></td>
        <td class="link"><a href="{{ path('ver_donacion', {'id':receptor.id}) }}">Ver</a></td>
        {% if is_granted('ROLE_MEDICO') %}
            {% if receptor.anulado is null %}
                <td class="link"><a href="{{ path('anular_donacion', {'id':receptor.id}) }}">Anular</a></td>
            {% else %}
                <td></td>
            {% endif %}
        {% endif %}
    </tr>
{% else %}
    <div class="consulta"><img src="{{ asset('images/error.png') }}"/>    El Donante no fue paciente</div>
    <br/>
{% endfor %}
</table>

{% endblock %}