{% extends 'HSYSMainBundle:Donacion:donacionbase.html.twig' %}

{% block title %}Donación Voluntaria{% endblock %}

{% block contenido %}

<h3>Donante:</h3>
{% if donante.excluido %}
<div class="consulta"><img src="{{ asset('images/error.png') }}"/>    DONANTE EXCLUIDO</div>
{% endif %}
    <table class="detalle">
        <tr>
            <th>ID: </th>
            <td>{{ donante.id }}</td>
        </tr>
        <tr>
            <th>Apellido y Nombre:  </th>
            <td>{{ donante.nomapp }}</td>
        </tr>
        <tr>
            <th>Factor Sangíneo: </th>
            <td>{{ donante.factorsang }}</td>
        </tr>

    </table>
    <br/>
    <form id="donacion_form" name="donacion_form" method="post" action="{{ path('alta_donacion_voluntaria_formulario_guardar') }}">
        <table>
            <tr>
                <td><label><u>Datos Generales: </u></label></td>
            </tr>
            <tr>
                <td><label>Numero de Donación: </label></td>
                <td><input type="number" step="1" name="numdedonacion" id="numdedonacion" style="width: 93%" value="{% if donacion is defined %}{{ donacion.numdedonacion }}{% endif %}"></td>
            </tr>
            <tr>
                <td><label>Tipo de Donación: </label></td>
                <td><select  id="tipodonacion" name="tipodonacion" style="width: 100%">
                        <option value="Normal">Normal</option>
                        <option value="Plaquetas Aféresis">Plaquetas Aféresis</option>
                        <option value="Eritroféresis">Eritroférisis</option>
                        <option value="Plasma Aférisis">Plasma Aférisis</option>
                        <option value="Stem Cells">Stem Cells</option>
                        <option value="Sangría Terapéutica">Sangría Terapéutica</option>
                        <option value="Autóloga">Autóloga</option>
                    </select>
                </td><!required="required">
            </tr>
            <tr>
                <td><label>Fecha extracción: </label></td>
                <td><input  id="fecha" name="fecha" type="date" value="{% if donacion is defined %}{{ donacion.fechextraccion|date('Y-m-d') }}{% else %}{{ "now"|date('Y-m-d') }}{% endif %}" style="width: 93%"/></td><!required="required">
            </tr>

            <tr>
                <td><label>Hospital de extracción: </label></td>
                <td><select id="selecthospital" name="selecthospital" onchange="cambiarhospital()" style="width: 100%"> 
                {% for hospital in hospitales %}
                                <option value="{{hospital}}" {% if donacion is defined and donacion.hospital == hospital %}selected{% endif %}>{{hospital}}</option>        
                {% endfor %}
                            </select>        
                   </td>
                        <td><input id="hospital" name="hospital"></td>
             </tr>
             <tr>
                   <td><label><u>Cuestionario: </u></label></td>
             </tr>
             <tr>
                 <td><label>Responsable Cuestionario: </label></td>
                   <td>
                       <select id="respCuestionario" name="respCuestionario" style="width: 100%">
                           {% for resp in responsables %}
                               <option value="{{ resp.username }}">{{ resp.username }}</option>
                           {% endfor %}
                       </select>
                   </td>
             </tr>
                    <tr>
                    <td><label><u>Datos Exámen Físico: </u></label></td>
                    </tr>
                    <tr>
                        <td><label>Peso: </label></td>
                        <td><input type="number" step="any" id="peso" name="peso" style="width: 93%" value="{% if donacion is defined %}{{ donacion.peso }}{% endif %}"/></td><!required="required">
                    </tr>
                    <tr>
                        <td><label>Tensión Arterial: </label></td>
                        <td><input type="number" step="any" id="tensionarterial" name="tensionarterial" style="width: 93%" value="{% if donacion is defined %}{{ donacion.tensionarterial }}{% endif %}"/></td><!required="required">
                    </tr>
                    <tr>
                        <td><label>Pulso: </label></td>
                        <td><input type="number" step="any" id="pulso" name="pulso" style="width: 93%" value="{% if donacion is defined %}{{ donacion.pulso }}{% endif %}"/></td><!required="required">
                    </tr>
                    <tr>
                        <td><label>Temperatura: </label></td>
                        <td><input type="number" step="any" id="temperatura" name="temperatura" style="width: 93%" value="{% if donacion is defined %}{{ donacion.temperatura }}{% endif %}"/></td><!required="required">
                    </tr>
                    <tr>
                        <td><label>Hematocrito: </label></td>
                        <td><input type="number" step="any" id="hto" name="hto" style="width: 93%" value="{% if donacion is defined %}{{ donacion.hto }}{% endif %}"/></td><!required="required">      
                    </tr>
                    <tr>
                        <td><label>Inspección de brazos: </label></td>
                        <td><input  id="inspeccionbrazos" name="inspeccionbrazos" value="Normal" style="width: 93%" value="{% if donacion is defined %}{{ donacion.inspeccionbrazos }}{% endif %}"/></td><!required="required">
                    </tr>
                    <tr>
                        <td><label>Observaciones: </label></td>
                        <td><input  id="obs" name="obs" style="width: 93%" value="{% if donacion is defined %}{{ donacion.obs }}{% endif %}"/></td><!required="required">
                    </tr>
                    <tr>
                        <td><label>Responsable Examen: </label></td>
                        <td>
                            <select id="respFisico" name="respFisico" style="width: 100%">
                                {% for resp in responsables %}
                                    <option value="{{ resp.username }}">{{ resp.username }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><label><u>Datos de la Bolsa: </u></label></td>
                    </tr>
                    <tr>
                        <td><label>Número de Tubuladura: </label></td>
                        <td><input type="number" step="1" required="required" id="bolsa" name="bolsa" type="text" value="{% if donacion is defined %}{{ donacion.idbolsa }}{% endif %}"/></td>
                    </tr>
                    <tr>
                        <td><label>Número de Lote: </label></td>
                        <td><input type="number" step="1" required="required" id="nrolote" name="nrolote" type="text" value="{% if donacion is defined %}{{ donacion.nrolote }}{% endif %}"/></td>
                    </tr>
                    <tr>
                        <td><label>Fecha de Vencimiento: </label></td>
                        <td><input required="required" id="vencimiento" name="vencimiento" type="date" value="{% if donacion is defined %}{{ donacion.vencimientobolsa|date('Y-m-d') }}{% else %}{{ "now"|date('Y-m-d') }}{% endif %}" style="width: 93%"/></td>
                    </tr>
                    <tr>
                        <td><label>Tipo Bolsa: </label></td>
                        <td><select  id="selecttipobolsa" name="selecttipobolsa" style="width: 100%" onchange="cambiatipobolsa()">
                                <option value="Simple">Simple</option>
                                <option value="Doble">Doble</option>
                                <option value="Triple">Triple</option>
                                <option value="Cuadruple">Cuádruple</option>
                                <option value="Otro">Otro</option>
                            </select>
                        </td>
                        <td><input id="tipobolsa" name="tipobolsa"></td>
                    </tr>
                    <tr>
                        <td><label>Marca: </label></td>
                        <td><select  id="selectmarca" name="selectmarca" style="width: 100%" onchange="cambiarmarca()">
                                <option value="Baxter">Baxter</option>
                                <option value="Grifols">Grifols</option>
                                <option value="MS">MS</option>
                                <option value="Kawasumi">Kawasumi</option>
                                <option value="Rivero">Rivero</option>
                                <option value="Terumo">Terumo</option>
                                <option value="Fenwal">Fenwal</option>
                                <option value="Otra">Otra</option>
                            </select>
                        </td>
                        <td><input id="marca" name="marca"></td>
                    </tr>
                    <tr>
                        <td><label>Anticoagulante: </label></td>
                        <td><select id="selectanticoagulante" name="selectanticoagualente" style="width: 100%" onchange="cambiaranticoagulante()">
                                <option value="ACD-A">ACD-A</option>
                                <option value="CPD-A">CPD-A</option>
                                <option value="SAG-Manitol">SAG-Manitol</option>
                                <option value="Otro">Otro</option>
                            </select>
                        </td>
                        <td><input id="anticoagulante" name="anticoagulante"></td>
                    </tr>
       {# <tr>
            <td><label><u>Datos de la Extracción: </u></label></td>
        </tr>
        <tr>
            <td><label>Volúmen extraído: </label></td>
            <td><input id="volumen" name="volumen" type="text" value="450"/></td>
            <td>cc</td>
        </tr>
        <tr>
            <td><label>Flebotomía: </label></td>
            <td><select  id="flebotomia" name="flebotomia" style="width: 100%">
                    <option value="Brazo Izquierdo">Brazo Izquierdo</option>
                    <option value="Brazo Derecho">Brazo Derecho</option>
                </select>
            </td>
        </tr>
        <tr>
            <td><label>Punción: </label></td>
            <td><select  id="puncion" name="puncion" style="width: 100%">
                    <option value="Unica">Unica</option>
                    <option value="Varias">Varias</option>
                </select>
            </td>
        </tr>
        <tr>
            <td><label>Reacción Postextracción: </label></td>
            <td><select  id="reaccionpostextraccion" name="reaccionpostextraccion" style="width: 100%">
                    <option value="Buena">Buena</option>
                    <option value="Lipotina">Lipotina</option>
                    <option value="Otra">Otra</option>
                </select>
            </td>
        </tr>
        <tr>
            <td><label>Comentarios: </label></td>
            <td><textarea id="comentarios" name="comentarios" rows="5" form="donacion_form" style="width: 93%"></textarea></td>
        </tr>
        <tr>
            #}
                    <td><input type="submit" name="action" value="Guardar y Continuar"/></td>
                    </tr> 
                </table>
                <input id="donante" name="donante" type="hidden" value="{{ donante.id }}" />
            </form>


            <script src="{{ asset('js/jquery-1.9.1.js') }}"></script>
            <script>
                window.onload = function() {
                    cambiarhospital();
                    cambiatipobolsa();
                    cambiarmarca();
                    cambiaranticoagulante();
                    }
    
                function cambiarhospital(){
                    $("#hospital").val($("#selecthospital").val());
                    if ($("#hospital").val()=="Otro"){
                        $("#hospital").show();
                    } else{
                        $("#hospital").hide();
                    }       
                };
    
                function cambiatipobolsa(){
                    $("#tipobolsa").val($("#selecttipobolsa").val());
                    if ($("#tipobolsa").val()=="Otro"){
                        $("#tipobolsa").show();
                    } else{
                        $("#tipobolsa").hide();
                    }       
                };
   
                function cambiarmarca(){
                    $("#marca").val($("#selectmarca").val());
                    if ($("#marca").val()=="Otra"){
                        $("#marca").show();
                    } else{
                        $("#marca").hide();
                    }       
                };
   
                function cambiaranticoagulante(){
                    $("#anticoagulante").val($("#selectanticoagulante").val());
                    if ($("#anticoagulante").val()=="Otro"){
                        $("#anticoagulante").show();
                    } else{
                        $("#anticoagulante").hide();
                    }       
                };
   
    
                </script>


{% endblock %}