{% extends 'HSYSMainBundle:Donacion:donacionbase.html.twig' %}

{% block title %}Donación Voluntaria{% endblock %}

{% block contenido %}

<h3>Donante:</h3>
{% if donante.excluido %}
<div class="consulta"><img src="{{ asset('images/error.png') }}"/>    DONANTE EXCLUIDO</div>
{% endif %}
    <table class="detalle">
        <tr>
            <th>ID: </th>
            <td>{{ donante.id }}</td>
        </tr>
        <tr>
            <th>Apellido y Nombre:  </th>
            <td>{{ donante.nomapp }}</td>
        </tr>
        <tr>
            <th>Factor Sangíneo: </th>
            <td>{{ donante.factorsang }}</td>
        </tr>

    </table>
    <br/>
    <form id="donacion_form" name="donacion_form" method="post" action="{{ path('alta_donacion_voluntaria_confirmar') }}">
       <table>
           <tr>
               <td><label>Numero de Donacion: </label></td>
               <td><input name="numdedonacion" id="numdedonacion" style="width: 93%"></td>
           </tr>
         <tr>
            <td><label>Tipo de Donación: </label></td>
            <td><select  id="tipodonacion" name="tipodonacion" style="width: 100%">
                    <option value="Normal">Normal</option>
                    <option value="Plaquetas Aféresis">Plaquetas Aféresis</option>
                    <option value="Eritroféresis">Eritroférisis</option>
                    <option value="Plasma Aférisis">Plasma Aférisis</option>
                    <option value="Stem Cells">Stem Cells</option>
                    <option value="Recambio Plásmatico Terapéutico">Recambio Plásmatico Terapéutico</option>
                </select>
            </td><!required="required">
        </tr>
        <tr>
            <td><label><u>Datos Generales: </u></label></td>
        </tr>
        <tr>
            <td><label>Fecha extracción: </label></td>
            <td><input  id="fecha" name="fecha" type="date" value="{{ "now"|date('Y-m-d') }}" style="width: 93%"/></td><!required="required">
        </tr>

        <tr>
            <td><label>Hospital de extracción: </label></td>
            <td><input id="hospital" name="hospital" type="text"/></td>
        </tr>
        
            <td><label><u>Datos Exámen Físico: </u></label></td>
        </tr>
        <tr>
            <td><label>Peso: </label></td>
            <td><input  id="peso" name="peso" style="width: 93%"/></td><!required="required">
        </tr>
        <tr>
            <td><label>Tensión Arterial: </label></td>
            <td><input  id="tensionarterial" name="tensionarterial" style="width: 93%"/></td><!required="required">
        </tr>
        <tr>
            <td><label>Pulso: </label></td>
            <td><input  id="pulso" name="pulso" style="width: 93%"/></td><!required="required">
        </tr>
        <tr>
            <td><label>Temperatura: </label></td>
            <td><input  id="temperatura" name="temperatura" style="width: 93%"/></td><!required="required">
        </tr>
        <tr>
            <td><label>Hematocrito: </label></td>
            <td><input  id="hto" name="hto" style="width: 93%"/></td><!required="required">      
        </tr>
        <tr>
            <td><label>Inspección de brazos: </label></td>
            <td><input  id="inspeccionbrazos" name="inspeccionbrazos" value="Normal" style="width: 93%"/></td><!required="required">
        </tr>
        <tr>
            <td><label>Observaciones: </label></td>
            <td><input  id="obs" name="obs" style="width: 93%"/></td><!required="required">
        </tr>
        <tr>
            <td><label><u>Datos de la Bolsa: </u></label></td>
        </tr>
        <tr>
            <td><label>Número de Tubuladura: </label></td>
            <td><input required="required" id="bolsa" name="bolsa" type="text"/></td>
        </tr>
        <tr>
            <td><label>Número de Lote: </label></td>
            <td><input required="required" id="nrolote" name="nrolote" type="text"/></td>
        </tr>
        <tr>
            <td><label>Fecha de Vencimiento: </label></td>
            <td><input required="required" id="vencimiento" name="vencimiento" type="date" value="{{ "now"|date('Y-m-d') }}" style="width: 93%"/></td>
        </tr>
        <tr>
            <td><label>Tipo Bolsa: </label></td>
            <td><select  id="tipobolsa" name="tipobolsa" style="width: 100%">
                    <option value="Doble">Doble</option>
                    <option value="Triple">Triple</option>
                    <option value="Cuadruple">Cuadruple</option>
                    <option value="Niños">Niños</option>
                    <option value="Otro">Otro</option>
                </select>
            </td>
        </tr>
        <tr>
            <td><label>Marca: </label></td>
            <td><select  id="marca" name="marca" style="width: 100%">
                    <option value="Baxter">Baxter</option>
                    <option value="Grifols">Grifols</option>
                    <option value="MS">MS</option>
                    <option value="Kawasumi">Kawasumi</option>
                    <option value="Rivero">Rivero</option>
                    <option value="Terumo">Terumo</option>
                    <option value="Otra">Otra</option>
                </select>
            </td>
        </tr>
        <tr>
            <td><label>Anticoagulante: </label></td>
            <td><select  id="anticoagulante" name="anticoagulante" style="width: 100%">
                    <option value="ACD-A">ACD-A</option>
                    <option value="CPD-A">CPD-A</option>
                    <option value="SAG-Manitol">SAG-Manitol</option>
                    <option value="Otra">Otra</option>
                </select>
            </td>
        </tr>
        <tr>
            <td><label><u>Datos de la Extracción: </u></label></td>
        </tr>
        <tr>
            <td><label>Volúmen extraído: </label></td>
            <td><input id="volumen" name="volumen" type="text" value="450"/></td>
            <td>cc</td>
        </tr>
        <tr>
            <td><label>Flebotomía: </label></td>
            <td><select  id="flebotomia" name="flebotomia" style="width: 100%">
                    <option value="Brazo Izquierdo">Brazo Izquierdo</option>
                    <option value="Brazo Derecho">Brazo Derecho</option>
                </select>
            </td>
        </tr>
        <tr>
            <td><label>Punción: </label></td>
            <td><select  id="puncion" name="puncion" style="width: 100%">
                    <option value="Unica">Unica</option>
                    <option value="Varias">Varias</option>
                </select>
            </td>
        </tr>
        <tr>
            <td><label>Reacción Postextracción: </label></td>
            <td><select  id="reaccionpostextraccion" name="reaccionpostextraccion" style="width: 100%">
                    <option value="Buena">Buena</option>
                    <option value="Lipotina">Lipotina</option>
                    <option value="Otra">Otra</option>
                </select>
            </td>
        </tr>
        <tr>
            <td><label>Comentarios: </label></td>
            <td><textarea id="comentarios" name="comentarios" rows="5" form="donacion_form" style="width: 93%"></textarea></td>
        </tr>
        <tr>
            <td><input type="submit" value="Confirmar"/></td>
        </tr>
    </table>
        <input id="donante" name="donante" type="hidden" value="{{ donante.id }}" />
    </form>

{% endblock %}